<!DOCTYPE html>
<html layout:decorate="~{/layout/base}" th:with="title='내 정보', menu='profile'">
<div layout:fragment="content">
    <div class="form_component"
         sec:authorize="isAuthenticated()"
         th:with="user=${#authentication.principal.user}
                , profileFilename=${user.profileFilename}">
        <h1 class="content_title justify_content_center">
            <iconify-icon icon="streamline-color:user-profile-focus-flat"></iconify-icon>
            내 정보
        </h1>

        <div class="profile_img_container">
            <form method="post"
                  th:action="@{/user/profile-img-update}"
                  enctype="multipart/form-data"
                  class="thumbnail_img"
                  id="profile-img-update-form"
                  th:if="${profileFilename == null}">
                <input type="file"
                       accept="image/jpeg,image/png,image/webp,image/heic"
                       name="profileFile"
                       class="d_none"
                       id="profile-img-input">
                <img th:src="@{/images/basic_profile_img.jpg}" alt="profile thumbnail" class="thumbnail">
                <label for="profile-img-input" class="icon_btn color_primary">
                    <iconify-icon icon="fluent-color:person-edit-32"></iconify-icon>
                </label>
            </form>

            <form method="post"
                  th:action="@{/user/profile-img-delete}"
                  class="thumbnail_img"
                  id="profile-img-delete-form"
                  th:if="${profileFilename != null}">
                <img th:src="${user.profileFileUrl}" alt="profile thumbnail" class="thumbnail">
                <button type="submit" id="profile-img-delete-btn" class="icon_btn">
                    <iconify-icon icon="mi:delete"></iconify-icon>
                </button>
            </form>

            <p class="account small_font" th:text="${user.username}">test@example.test</p>
        </div>

        <form method="post"
              th:action="@{/user/profile}"
              th:object="${userUpdateForm}"
              class="form_wrap container pd_top_bottom_0"
              id="profile-update-form">
            <input type="hidden" name="currentNickname" th:value="${userUpdateForm.nickname}">

            <div class="form_input_list">
                <div class="input_info">
                    <input type="text"
                           th:field="*{name}"
                           id="name"
                           autocomplete="name"
                           placeholder=" ">

                    <label for="name" class="input_title"
                           th:classappend="${#fields.hasErrors('name')} ? 'disabled'">이름</label>

                    <span class="input_error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>

                <div class="input_info">
                    <input type="text"
                           th:field="*{nickname}"
                           id="nickname"
                           maxlength="16"
                           autocomplete="nickname"
                           placeholder=" ">

                    <label for="nickname" class="input_title"
                           th:classappend="${#fields.hasErrors('nickname')} ? 'disabled'">닉네임</label>

                    <span class="input_error" th:if="${#fields.hasErrors('nickname')}" th:text="${#fields.errors('nickname')[0]}"></span>
                </div>

                <div class="input_info" id="date-picker-input">
                    <input type="text"
                           th:field="*{birthDate}"
                           id="birth-date"
                           maxlength="8"
                           placeholder=" ">

                    <label for="birth-date" class="input_title"
                           th:classappend="${#fields.hasErrors('birthDate')} ? 'disabled'">생년월일 8자(YYYYMMDD)</label>

                    <span class="input_error" th:if="${#fields.hasErrors('birthDate')}" th:text="${#fields.errors('birthDate')[0]}"></span>
                </div>

                <div class="input_info radio_info">
                    <div class="radio_input">
                        <label for="gender-m" class="text">남</label>
                        <input type="radio" th:field="*{gender}" id="gender-m" value="M">
                    </div>
                    <div class="radio_input">
                        <label for="gender-f" class="text">여</label>
                        <input type="radio" th:field="*{gender}" id="gender-f" value="F">
                    </div>
                </div>

                <div class="input_info select_info">
                    <p class="select_title">진도</p>
                    <select name="currentSchool" class="form_select">
                        <option th:if="${user.currentSchool == null}" value="" disabled selected>선택</option>
                        <option value="초등" th:selected="${user.currentSchool == '초등'}">초등</option>
                        <option value="중등" th:selected="${user.currentSchool == '중등'}">중등</option>
                    </select>
                </div>

                <div class="input_info select_info">
                    <p class="select_title">학년</p>
                    <select name="currentGrade" class="form_select">
                        <option th:if="${user.currentGrade == null}" value="" disabled selected>선택</option>

                        <!--/* 초등용 옵션 */-->
                        <th:block th:if="${user.currentSchool == '초등'}">
                            <option value="1" th:selected="${user.currentGrade == 1}">1학년</option>
                            <option value="2" th:selected="${user.currentGrade == 2}">2학년</option>
                            <option value="3" th:selected="${user.currentGrade == 3}">3학년</option>
                            <option value="4" th:selected="${user.currentGrade == 4}">4학년</option>
                            <option value="5" th:selected="${user.currentGrade == 5}">5학년</option>
                            <option value="6" th:selected="${user.currentGrade == 6}">6학년</option>
                        </th:block>

                        <!--/* 중등용 옵션 */-->
                        <th:block th:if="${user.currentSchool == '중등'}">
                            <option value="1" th:selected="${user.currentGrade == 1}">1학년</option>
                            <option value="2" th:selected="${user.currentGrade == 2}">2학년</option>
                            <option value="3" th:selected="${user.currentGrade == 3}">3학년</option>
                        </th:block>
                    </select>
                </div>

                <div class="input_info select_info">
                    <button type="button" id="modal-study-difficulty-info-btn" class="select_title">
                        단계
                        <span class="icon_btn icon small">
                            <iconify-icon icon="flat-color-icons:info"></iconify-icon>
                        </span>
                    </button>
                    <select name="studyDifficulty" class="form_select">
                        <option value="1" th:selected="${user.studyDifficulty == 1}">1단계</option>
                        <option value="2" th:selected="${user.studyDifficulty == 2}">2단계</option>
                        <option value="3" th:selected="${user.studyDifficulty == 3}">3단계</option>
                        <option value="4" th:selected="${user.studyDifficulty == 4}">4단계</option>
                        <option value="5" th:selected="${user.studyDifficulty == 5}">5단계</option>
                        <option value="6" th:selected="${user.studyDifficulty == 6}">6단계</option>
                    </select>
                </div>
            </div>

            <div class="btn_list">
                <a href="/" class="btn white">취소</a>
                <button type="submit" id="submit-btn" class="btn primary">수정</button>
            </div>

            <div th:replace="~{fragments/modal/modal-study-difficulty-info :: modal-study-difficulty-info-fragment}"></div>
        </form>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:if="${error != null}">
        alert("[[${error}]]");
    </script>

    <script th:if="${success != null}">
        alert("[[${success}]]");
    </script>

    <script type="module" th:src="@{/js/modules/profile/profile.js}"></script>
</th:block>
</html>
