<!--/* 상세 컨텐츠 레이아웃(중앙 정렬) */-->
<!DOCTYPE html>
<!--/*
    suppress XmlUnusedNamespaceDeclaration 주석 제거 금지
    사용되지 않는 namespace 유지 설정
*/-->
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{fragments/common/head :: head-fragment}"></head>
<body>
<main class="main">
    <!--/* custom nav */-->
    <div layout:fragment="fixed-nav-fragment"></div>

    <!--/* contents */-->
    <div layout:fragment="content" class="content center"></div>
</main>

<th:block layout:fragment="script"></th:block>
</body>
</html>