<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kukokuk.domain.dictation.mapper.DictationQuestionMapper">

    <resultMap id="DictationQuestionResultMap" type="DictationQuestion">
        <id property="dictationQuestionNo" column="DICTATION_QUESTION_NO"/>
        <result property="correctAnswer" column="CORRECT_ANSWER"/>
        <result property="hint1" column="HINT1"/>
        <result property="hint2" column="HINT2"/>
        <result property="hint3" column="HINT3"/>
        <result property="createdDate" column="CREATED_DATE"/>
    </resultMap>

    <!--
    /**
     * 받아쓰기 문장 중복 검사
     * @param sentence 받아쓰기 문장
     * @return 0(아니다), 1(맞다)
     */
    int isDuplicateCorrectAnswer(String sentence);
    -->
    <select id="isDuplicateCorrectAnswer" resultType="int">
        SELECT EXISTS(
            SELECT 1
            FROM
                KUKOKUK_DICTATION_QUESTIONS
            WHERE
                CORRECT_ANSWER = #{sentence}
        )
    </select>

    <!--
     /**
     * 받아쓰기 문제를 생성한다.
     * @param dictationQuestion 문제 번호
     */
    void insertDictationQuestion(DictationQuestion dictationQuestion);
     -->
    <insert id="insertDictationQuestion" parameterType="DictationQuestion">
        INSERT INTO KUKOKUK_DICTATION_QUESTIONS (
        CORRECT_ANSWER
        , HINT1
        , HINT2
        , HINT3
        ) VALUES (
       #{correctAnswer}
       , #{hint1}
       , #{hint2}
       , #{hint3}
        )
    </insert>



    <!--
     /** 받아쓰기 문제 번호로 받아쓰기 문제와 힌트들 가져오기
       * @param dictationQuestionNo 문제 번호
       * @return 받아쓰기 문제, 힌트1, 힌트2, 힌트3
       */
      DictationQuestion getDictationQuestionByDictationQuestionNo(int dictationQuestionNo);
     -->
    <select id="getDictationQuestionByDictationQuestionNo" resultMap="DictationQuestionResultMap">
        SELECT
            DICTATION_QUESTION_NO
             , CORRECT_ANSWER
             , HINT1
             , HINT2
             , HINT3
             , CREATED_DATE
        FROM
            KUKOKUK_DICTATION_QUESTIONS
        WHERE
            DICTATION_QUESTION_NO = #{dictationQuestionNo}
    </select>

    <!--
     /**
     * 받아쓰기 문제 번호로 정답문장 가져오기
     * @param dictationQuestionNo 문제 번호
     * @return 정답 문장
     */
    String getCorrectAnswerByQuestionNo(int dictationQuestionNo);
     -->
    <select id="getCorrectAnswerByQuestionNo" resultType="String">
        SELECT CORRECT_ANSWER
        FROM KUKOKUK_DICTATION_QUESTIONS
        WHERE DICTATION_QUESTION_NO = #{dictationQuestionNo}
    </select>


    <!--
     /**
     * 사용자에게 아직 출제되지 않은 받아쓰기 문제 중에서
     * 랜덤하게 지정한 개수만큼 문제를 조회하는 메서드
     *
     * @param userNo 문제를 푼 이력이 있는 사용자 번호
     * @param count 조회할 문제 개수
     * @return 사용자가 풀지 않은 문제 리스트
     */
    List<DictationQuestion> getRandomDictationQuestionsExcludeUser(
        @Param("userNo") int userNo,
        @Param("count") int count
    -->
    <select id="getRandomDictationQuestionsExcludeUser" resultMap="DictationQuestionResultMap">
        SELECT dq.DICTATION_QUESTION_NO
             , dq.CORRECT_ANSWER
             , dq.HINT1
             , dq.HINT2
             , dq.HINT3
        FROM KUKOKUK_DICTATION_QUESTIONS dq
        WHERE dq.DICTATION_QUESTION_NO
                  NOT IN (SELECT dql.DICTATION_QUESTION_NO
                          FROM KUKOKUK_DICTATION_QUESTION_LOGS dql
                          WHERE dql.USER_NO = #{userNo})
        ORDER BY RAND()
            LIMIT #{count}
    </select>

</mapper>