<!DOCTYPE html>
<html lang="en">
<div th:fragment="modal-quiz-exit-fragment"
     id="modal-quiz-exit"
     class="modal_wrap">
    <div id="modal_dimmed" class="dimmed modal_close"></div>
    <div class="modal_container">
        <div class="modal_top">
            <p class="modal_title">종료하기</p>
            <button type="button" class="modal_close_btn modal_close">
                <iconify-icon icon="basil:cancel-outline"></iconify-icon>
            </button>
        </div>

        <!--/* modal content */-->
        <div class="modal_info small form_wrap">
            <div class="center_info">
                <p>종료하시겠습니까?</p>
                <p class="color_gray small_font">(중간 저장되지 않습니다.)</p>
            </div>
            <div class="btn_list">
                <button class="btn primary modal_close">취소</button>
                <a href="/quiz" class="btn white">국어 놀이터로</a>
                <a href="/" class="btn">마당으로</a>
            </div>
        </div>
    </div>
</div>
</html>