<!DOCTYPE html>
<html>
<div th:fragment="modal-group-pwd-fragment"
     id="modal-group-pwd"
     class="modal_wrap">
    <div id="modal_dimmed" class="dimmed modal_close"></div>
    <div class="modal_container">
        <div class="modal_top">
            <p class="modal_title">입반 신청하기</p>
            <button type="button" class="modal_close_btn modal_close">
                <iconify-icon icon="basil:cancel-outline"></iconify-icon>
            </button>
        </div>

        <!--/* modal content */-->
        <div class="modal_info form_wrap">
            <div class="form_input_list">
                <form id="modal-group-join-form">
                    <div class="input_info one_input">
                        <input type="password" name="password" id="group-password" maxlength="4" autocomplete="off" placeholder=" ">
                        <label for="group-password" class="input_title">비밀번호</label>
                    </div>

                    <div class="modal_explanation_info pt_base pb_base">
                        <div class="modal_explanation column tiny_gap">
                            <p class="explanation">입반할 반의 비밀번호를 입력해 주세요.</p>
                        </div>
                    </div>

                    <div class="btn_list">
                        <button type="button" class="btn white modal_close">취소</button>
                        <button type="submit" id="create-group-btn" class="btn primary">입반 신청</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>