<!DOCTYPE html>
<html>
<div th:fragment="modal-essay-exit-fragment"
     id="modal-essay-exit"
     class="modal_wrap">
    <div id="modal_dimmed" class="dimmed modal_close"></div>
    <div class="modal_container">
        <div class="modal_top">
            <p class="modal_title">종료하기</p>
            <button type="button" class="modal_close_btn modal_close">
                <iconify-icon icon="basil:cancel-outline"></iconify-icon>
            </button>
        </div>

        <!--/* modal content */-->
        <div class="modal_info small form_wrap">
            <div class="center_info">
                <p>논술형 답변 작성을 종료하시겠습니까?</p>
                <p class="color_gray small_font">(임시저장하지 않고 종료 시 작성중인 데이터는 저장되지 않습니다.)</p>
            </div>
            <div class="btn_list">
                <button class="btn primary modal_close">돌아가기</button>
                <a href="/study" class="btn white">오늘의 학습으로</a>
                <a href="/" class="btn">마당으로</a>
            </div>
        </div>
    </div>
</div>
</html>