<!DOCTYPE html>
<html>
<div th:fragment="modal-study-difficulty-info-fragment"
     id="modal-study-difficulty-info"
     class="modal_wrap">
    <div id="modal_dimmed" class="dimmed modal_close"></div>
    <div class="modal_container">
        <div class="modal_top">
            <p class="modal_title">단계별 설명</p>
            <button type="button" class="modal_close_btn modal_close">
                <iconify-icon icon="basil:cancel-outline"></iconify-icon>
            </button>
        </div>

        <!--/* modal content */-->
        <div class="modal_info form_wrap" id="modal-study-level-info">
            <div id="study-difficulty" class="modal_explanation_info"></div>
        </div>
    </div>
</div>
</html>
