<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      th:with="title='나의 반 관리'
      , menu='group'">
<div layout:fragment="content">
    <div id="main-content" class="content_container">
        <!--/* 교사가 생성한 그룹이 없을 경우 */-->
        <div th:if="${currentGroup == null}" class="content_info toggle_info_component">
            <div class="content_title">
                <iconify-icon icon="twemoji:file-folder"></iconify-icon>
                우리반 학습 자료 관리
            </div>

            <div class="component small_list_component toggle_info_second teacher_study_upload_container">
                <div class="d_flex column small_gap">
                    <div class="component_title align_start">
                        우리반을 만들어 보세요!
                    </div>
                    <span class="component_sub_title">AI가 맞춤으로 재구성한 학습 자료를 우리반과 공유해 보세요!</span>
                </div>
            </div>
        </div>

        <!--/* 교사가 생성한 그룹이 있을 경우 */-->
        <div th:if="${currentGroup != null}" class="content_info toggle_info_component"
             th:classappend="${#lists.isEmpty(teacherStudies) ? 'second' : 'first'}">
            <div class="content_title">
                <iconify-icon icon="twemoji:file-folder"></iconify-icon>
                우리반 학습 자료 관리

                <!--/* 교사가 등록한 그룹이 있고 학습 자료가 있을 경우 */-->
                <div th:if="${!#lists.isEmpty(teacherStudies)}"
                     id="group-study-switch-toggle-btn"
                     class="content_switcher switch_toggle_btn"
                     data-before="관리"
                     data-after="등록">
                    <div class="toggle_switch"></div>
                </div>
            </div>

            <!--/* 그룹 학습 자료 등록 컴포넌트 */-->
            <div class="component small_list_component toggle_info_second teacher_study_upload_container">
                <div class="d_flex column small_gap">
                    <div class="component_title align_start">
                        우리반 학습 자료 등록
                        <button type="button" id="modal-group-study-btn" class="btn tiny plr_small full_blue">등록하기</button>
                    </div>
                    <span class="component_sub_title">AI가 맞춤으로 재구성한 학습 자료를 우리반과 공유해 보세요!</span>
                </div>

                <div class="component_info column">
                    <div class="tiny_list_component sub_font w_100">
                        <div>
                            <span>AI 맞춤 학습 생성 자료는</span>
                            <span class="tag bg_light_yellow bold pd_0">.hwpx</span>
                            <span>형식의 파일만 지원합니다.</span>
                        </div>
                        <div>
                            <span>한번에 최대</span>
                            <span class="tag bg_light_yellow bold pd_0">3개</span>
                            <span>의 파일을 첨부할 수 있습니다.</span>
                        </div>
                        <div>
                            <span>각 파일의 크기는</span>
                            <span class="tag bg_light_yellow bold pd_0">10MB</span>
                            <span>를 초과할 수 없습니다.</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--/* 교사가 등록한 학습 자료가 있을 경우 */-->
            <div th:if="${!#lists.isEmpty(teacherStudies)}" class="component small_list_component toggle_info_first">
                <!--/* 교사가 등록한 학습 자료가 있는 경우 */-->
                <div class="tiny_list_component">
                    <div class="component grid_tiny_list pd_base pb_small small_gap teacher_study_List"
                         th:each="study : ${teacherStudies}"
                         th:with="studyCompleteRawPer=${(study.completedStudentCount * 100.0) / currentGroup.memberCount}
                         , studyPercent=${studyCompleteRawPer % 1 == 0} ?
                            ${#numbers.formatDecimal(studyCompleteRawPer, 0, 0)} + '%' :
                            ${#numbers.formatDecimal(studyCompleteRawPer, 1, 1)} + '%'
                         , essayCompleteRawPer=${(study.essayCompletedStudentCount * 100.0) / currentGroup.memberCount}
                         , essayPercent=${essayCompleteRawPer % 1 == 0} ?
                            ${#numbers.formatDecimal(essayCompleteRawPer, 0, 0)} + '%' :
                            ${#numbers.formatDecimal(essayCompleteRawPer, 1, 1)} + '%'">
                        <span class="callout left color_black tiny_font"
                              style="--callout-color: var(--lightBlueColor);"
                              th:text="|${study.difficulty}단계|">n단계</span>

                        <span class="callout right color_black tiny_font"
                              style="--callout-color: var(--lightGrayColor);"
                              th:text="${#dates.format(study.createdDate, 'yyyy.M.d')}">등록일자</span>

                        <div class="component_title">
                            <div class="title_info column tiny_gap base_font">
                                <p th:text="${study.dailyStudyTitle}">학습 자료 제목</p>
                                <p class="text_ellipsis_multiline small_font normal" th:utext="${study.explanation}">설명</p>
                            </div>
                        </div>

                        <div class="d_flex column tiny_gap small_font">
                            <div class="list_info text_guage" th:style="|--percent: ${studyPercent}|">
                                <div class="d_flex align_center tiny_gap text_guage_info">
                                    학습 완료 인원
                                    <span th:text="|${study.getCountFormatted(study.completedStudentCount)}명|">인원수</span>
                                    <span class="ml_a" th:text="${studyPercent}">학습 완료 인원 퍼센트</span>
                                </div>
                            </div>
                            <div class="list_info text_guage" th:style="|--percent: ${essayPercent}|">
                                <div class="d_flex align_center tiny_gap text_guage_info">
                                    논순형 문제 풀이 완료 인원
                                    <span th:text="|${study.getCountFormatted(study.essayCompletedStudentCount)}명|">인원수</span>
                                    <span class="ml_a" th:text="${essayPercent}">논술형 문제 풀이 완료 인원 퍼센트</span>
                                </div>
                            </div>
                        </div>

                        <a th:href="${study.sourceFileUrl}" class="d_flex tiny_gap align_center">
                            <iconify-icon class="tooltip w_max_content"
                                          data-label="원본 다운로드"
                                          icon="streamline-flex-color:cloud-download-flat"></iconify-icon>
                            <span class="small_font text_ellipsis" th:text="${study.sourceFilename}">원본 파일명</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--/* 스무고개 컨텐츠 */-->
        <div class="content_info">
            <div class="content_title">
                <iconify-icon icon="streamline-flex-color:help-chat-1-flat"></iconify-icon>
                스무고개
            </div>

            <div class="component small_list_component">
                <div class="component_title">
                    <div class="title_info column">
                        우리 반 스무고개

                        <!--/* 생성한 그룹이 없는 교사 권한 사용자 */-->
                        <span th:if="${currentGroup == null}"
                              class="component_sub_title">우리 반을 만들어 스무고개를 함께 즐겨보세요</span>
                        <!--/* 생성한 그룹에 가입한 멤버가 없을 경우 */-->
                        <span th:if="${currentGroup != null && currentGroup.memberCount == 0}"
                              class="component_sub_title">아직 우리반 인원이 없습니다</span>
                        <!--/* 현재 진행중인 스무고개 방이 있을 경우 */-->
                        <span th:if="${currentGroup != null && currentGroupActiveRoomNo != null}"
                              class="component_sub_title">지금 우리 반과 함께 스무고개를 하고 있어요</span>
                        <!--/* 현재 진행중인 스무고개 방이 없을 경우 */-->
                        <span th:if="${currentGroup != null && currentGroup.memberCount > 0 && currentGroupActiveRoomNo == null}"
                              class="component_sub_title">스무고개 방을 만들어 우리 반과 함께 즐겨보세요</span>
                    </div>
                </div>

                <!--/* 생성한 그룹이 있는 교사 권한 사용자 */-->
                <th:block th:if="${currentGroup != null && currentGroup.memberCount > 0}">
                    <!--/* 스무고개 방 당일 최근 이력 3건 */-->
                    <div th:if="${!#lists.isEmpty(currentGroupTwentyRooms)}" class="tiny_list_component">
                        <div th:each="room : ${currentGroupTwentyRooms}" class="component_info small with_icon">
                            <div class="d_flex align_center tiny_gap text_ellipsis">
                                <th:block th:switch="${room.status}">
                                    <span th:case="'WAITING'" class="color_blue">대기중</span>
                                    <span th:case="'STOPPED'">종료</span>
                                    <span th:case="'COMPLETED'">종료</span>
                                    <span th:case="*" class="color_red">진행중</span>
                                </th:block>
                                <p class="text_ellipsis" th:text="${room.title}">스무고개방 이름</p>
                            </div>
                            <span class="w_max_content color_gray"
                                  th:text="${#dates.format(room.createdDate, 'yyyy.M.d hh:mm:ss')}">2025.9.26 08:40:30</span>
                        </div>
                    </div>

                    <!--/* 현재 진행중인 스무고개 방이 있을 경우 */-->
                    <div th:if="${currentGroupActiveRoomNo != null}" class="btn disabled">현재 진행 중인 방이 있습니다</div>

                    <!--/* 현재 진행중인 스무고개 방이 없을 경우 생성 가능 */-->
                    <form th:if="${currentGroupActiveRoomNo == null}"
                          class="form_wrap small_gap"
                          method="post"
                          th:action="@{/twenty/gameRoom}">
                        <input type="hidden" name="groupNo" th:value="${currentGroup.groupNo}">
                        <div class="form_input_list">
                            <div class="input_info">
                                <input type="text" name="title" id="title" placeholder=" "/>
                                <label for="title" class="input_title">스무고개 방 이름</label>
                                <span class="input_error" th:if="${titleError}" th:errors="*{titleError}"></span>
                            </div>

                            <div class="input_info">
                                <input type="text" name="correct" id="correct" placeholder=" "/>
                                <label for="correct" class="input_title">스무고개 정답</label>
                                <span class="input_error" th:if="${correctError}" th:errors="*{correctError}"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn primary">방 만들기</button>
                    </form>
                </th:block>

                <!--/* 생성한 그룹이 없는 교사 권한 사용자 */-->
                <button th:if="${currentGroup == null}"
                        type="button" class="modal_gruop_edit_btn btn primary">우리반 만들기</button>
            </div>
        </div>
    </div>

    <div id="sub-content" class="content_container">
        <th:block th:replace="~{fragments/common/profile :: profile-fragment}"></th:block>

        <!--/* 그룹 정보 컴포넌트 */-->
        <div class="component small_list_component">
            <div class="component_title">
                <div class="title_info column">
                    <!--/* 생성한 그룹이 없는 교사 권한 사용자 */-->
                    <div th:if="${currentGroup == null}"
                         class="d_flex justify_content_between align_center small_gap">
                        <p class="text_ellipsis">나의 반이 없습니다</p>
                    </div>

                    <!--/* 생성한 그룹이 있는 교사 권한 사용자 */-->
                    <th:block th:if="${currentGroup != null}">
                        <!--/* 생성한 그룹이 1개만 있는 교사 권한 사용자 */-->
                        <p th:if="${teacherGroups.size() == 0}"
                           class="text_ellipsis"
                           th:text="${currentGroup.title}">현재 우리반 이름</p>

                        <!--/* 생성한 그룹이 1개 이상 있는 교사 권한 사용자 */-->
                        <select th:if="${teacherGroups.size() > 0}"
                                name="teacherGroups"
                                class="pl_0 text_ellipsis"
                                th:onchange="|location.href='@{/group/teacher}?groupNo=' + this.value|">
                            <!--/* 교사 권한 사용자의 현재 그룹 */-->
                            <option th:text="${currentGroup.title}"
                                    selected
                                    disabled>현재 우리반 이름</option>
                            <!--/* 교사 권한 사용자의 그룹 목록 */-->
                            <option th:each="teacherGroup : ${teacherGroups}"
                                    th:value="${teacherGroup.groupNo}"
                                    th:text="${teacherGroup.title}">우리 반 리스트</option>
                        </select>
                    </th:block>
                </div>
            </div>

            <!--/* 생성한 그룹이 없는 교사 권한 사용자 */-->
            <div th:if="${currentGroup == null}" class="component_info w_100">
                <div class="list_info small_font normal" style="--cols: 24; --indexCols: 2;">
                    <div class="index_list">
                        <span class="marker tac">📖</span>
                        <p>우리 반의 AI 맞춤 학습 자료 관리</p>
                    </div>
                    <div class="index_list">
                        <span class="marker tac">💡</span>
                        <p>우리 반과 함께 스무고개</p>
                    </div>
                    <div class="index_list">
                        <span class="marker tac">👑</span>
                        <p>우리 반 월간 순위 경쟁</p>
                    </div>
                    <div class="index_list">
                        <span class="marker tac">📊</span>
                        <p>우리 반 학습 통계</p>
                    </div>
                </div>
            </div>

            <!--/* 생성한 그룹이 있는 교사 권한 사용자 */-->
            <div th:if="${currentGroup != null}" class="component_info w_100">
                <div class="list_info ov_v small_font normal" style="--cols: 24; --indexCols: 2;">
                    <div class="index_list">
                        <span class="marker tac tooltip" data-label="급훈">📜</span>
                        <p th:text="${currentGroup.motto ?: '-'}">급훈</p>
                    </div>
                    <div class="index_list">
                        <span class="marker tac tooltip" data-label="인원수">👩‍👧‍👧</span>
                        <p th:text="|${currentGroup.getMemberCountFormatted()} 명|">인원 수</p>
                    </div>
                    <div class="index_list">
                        <span class="marker tac tooltip" data-label="생성일">📅</span>
                        <p th:text="${#dates.format(currentGroup.createdDate, 'yyyy-MM-dd')}">생성일</p>
                    </div>
                </div>
            </div>

            <div class="btn_list">
                <button type="button" class="btn small w_100 modal_gruop_edit_btn" th:text="${currentGroup != null ? '편집' : '만들기'}">편집</button>
                <a th:href="@{/group}" class="btn small white w_100">우리 반으로 가기</a>
            </div>
        </div>

        <!--/* 생성한 그룹이 없는 교사 권한 사용자 */-->
        <div th:if="${currentGroup == null}" class="component small_list_component">
            <div class="component_title">
                <div class="title_info">우리반 순위</div>
            </div>

            <div class="component_info tiny">
                <div class="list_info sub_font tac">
                    나의 반에 입반한 사용자들의 순위를 확인해 보세요!
                </div>
            </div>
        </div>

        <!--/* 생성한 그룹이 있는 교사 권한 사용자 */-->
        <!--/* 스피드, 단계별, 받아쓰기 그룹 랭킹 컴포넌트 */-->
        <div th:if="${currentGroup != null}"
             class="component small_list_component pd_0 bg_none border_none box_shadow_none">
            <div class="component_title pd_base pd_top_bottom_0 bg_none border_none">
                <p class="title_info">우리반 순위</p>
            </div>

            <div class="tab_content_list bg_base border_radius box_shadow ranks_component">
                <div class="tab_btn_list">
                    <button type="button" class="tab_btn selected">스피드<span class="active"></span></button>
                    <button type="button" class="tab_btn">받아쓰기<span class="active"></span></button>
                </div>

                <!--/* 스피드퀴즈 그룹 랭크 */-->
                <div id="speed-ranks-component" class="tab_content selected border_base bt_none pd_base">
                    <div th:replace="~{fragments/rank/rank-component :: rank-component-fragment(ranksDto=${speedQuizRanks}, useTitle=false)}"></div>
                </div>

                <!--/* 받아쓰기 퀴즈 그룹 랭크 */-->
                <div id="dictation-ranks-component" class="tab_content border_base bt_none pd_base">
                    <div th:replace="~{fragments/rank/rank-component :: rank-component-fragment(ranksDto=${dictationQuizRanks}, useTitle=false)}"></div>
                </div>
            </div>
        </div>
    </div>

    <!--/* 그룹 생성, 수정, 삭제 모달창 */-->
    <div th:replace="~{fragments/modal/modal-group-edit :: modal-group-edit-fragment(
        currentGroup=${currentGroup}
        , teacherGroups=${teacherGroups}
    )}"></div>

    <!--/* 그룹 학습 자료 등록 모달창(교사가 생성한 그룹이 있을 경우에만) */-->
    <th:block th:if="${currentGroup != null}">
        <div th:replace="~{fragments/modal/modal-group-study-create :: modal-group-study-create-fragment(groupNo=${currentGroup.groupNo})}"></div>
    </th:block>
</div>

<th:block layout:fragment="script">
    <script type="module" th:src="@{/js/modules/group/group.js}"></script>
</th:block>
</html>
