<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      th:with="title='나의 반 관리'
      , menu='group'">
<div layout:fragment="content">
    <div id="main-content" class="content_container">
        <!--/* 그룹 학습 자료 관리 컨텐츠 */-->
        <div class="content_info toggle_info_component">
            <div class="content_title">
                <iconify-icon icon="twemoji:file-folder"></iconify-icon>
                우리반 학습 자료 관리

                <!--/* 교사가 등록한 학습 자료가 있을 경우 */-->
                <div th:if="${!#lists.isEmpty(teacherStudies)}"
                     id="group-study-switch-toggle-btn"
                     class="content_switcher switch_toggle_btn"
                     data-before="관리"
                     data-after="등록">
                    <div class="toggle_switch"></div>
                </div>
            </div>

            <div class="component small_list_component">
                <!--/* 교사가 등록한 학습 자료가 없을 경우 */-->
                <div >
                    <div class="component_title">
                        우리반 학습 자료 등록
                        <button type="button" id="files-input-btn" class="btn tiny plr_small primary">파일 선택</button>
                    </div>

                    <span class="component_sub_title">AI가 맞춤으로 재구성한 학습 자료를 우리반과 공유해 보세요!</span>

                    <div class="d_flex column tiny_gap sub_font">
                        <div class="component_info tag w_max_100">
                            <div>
                                <span>AI 맞춤 학습 생성 자료는</span>
                                <span class="tag bg_light_red bold">.hwpx</span>
                                <span>형식의 파일만 지원합니다.</span>
                            </div>
                        </div>

                        <div class="component_info tag w_max_100">
                            <span>한번에 최대 3개까지 첨부 가능합니다.</span>
                        </div>
                    </div>

                    <!--/* 파일 첨부 폼 */-->
                    <form action="">
                        <input type="file" name="" id="" class="">
                    </form>
                </div>

                <!--/* 교사가 등록한 학습 자료가 있는 경우 */-->
                <div th:if="${!#lists.isEmpty(teacherStudies)}" class="grid_list_component column">
                    <div class="component grid_tiny_list pd_base pb_small small_gap teacher_study_List"
                         th:each="study : ${teacherStudies}"
                         th:with="studyCompleteRawPer=${(study.completedStudentCount * 100.0) / currentGroup.memberCount}
                         , studyPercent=${studyCompleteRawPer % 1 == 0} ?
                            ${#numbers.formatDecimal(studyCompleteRawPer, 0, 0)} + '%' :
                            ${#numbers.formatDecimal(studyCompleteRawPer, 1, 1)} + '%'
                         , essayCompleteRawPer=${(study.essayCompletedStudentCount * 100.0) / currentGroup.memberCount}
                         , essayPercent=${essayCompleteRawPer % 1 == 0} ?
                            ${#numbers.formatDecimal(essayCompleteRawPer, 0, 0)} + '%' :
                            ${#numbers.formatDecimal(essayCompleteRawPer, 1, 1)} + '%'">
                        <span class="callout left color_black tiny_font"
                              style="--callout-color: var(--lightBlueColor);"
                              th:text="|난이도 ${study.difficulty}단계|">난이도 n단계</span>

                        <span class="callout right color_black tiny_font"
                              style="--callout-color: var(--lightGrayColor);"
                              th:text="${#dates.format(study.createdDate, 'yyyy.M.d')}">등록일자</span>

                        <div class="component_title">
                            <div class="title_info column tiny_gap base_font">
                                <p th:text="${study.dailyStudyTitle}">학습 자료 제목</p>
                                <p class="small_font normal" th:text="${study.explanation}">설명</p>
                            </div>
                        </div>

                        <div class="d_flex column tiny_gap small_font">
                            <div class="list_info text_guage" th:style="|--percent: ${studyPercent}|">
                                <div class="d_flex align_center tiny_gap text_guage_info">
                                    학습 완료 인원
                                    <span th:text="|${study.getCountFormatted(study.completedStudentCount)}명|">인원수</span>
                                    <span class="ml_a" th:text="${studyPercent}">학습 완료 인원 퍼센트</span>
                                </div>
                            </div>
                            <div class="list_info text_guage" th:style="|--percent: ${essayPercent}|">
                                <div class="d_flex align_center tiny_gap text_guage_info">
                                    논순형 문제 풀이 완료 인원
                                    <span th:text="|${study.getCountFormatted(study.essayCompletedStudentCount)}명|">인원수</span>
                                    <span class="ml_a" th:text="${essayPercent}">논순형 문제 풀이 완료 인원 퍼센트</span>
                                </div>
                            </div>
                        </div>

                        <div class="d_flex align_center justify_content_between">
                            <a th:href="@{study.sourceFileUrl}" class="w_max_content d_flex tiny_gap align_center">
                                <iconify-icon class="tooltip" data-label="원본 다운로드" icon="streamline-flex-color:cloud-download-flat"></iconify-icon>
                                <span th:text="${study.materialTitle}">원본 파일명</span>
                            </a>
                            <div class="btn tiny white small_font group_study_delete_btn">삭제</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--/* 스무고개 컨텐츠 */-->
        <div class="content_info">
            <div class="content_title">
                <iconify-icon icon="streamline-flex-color:help-chat-1-flat"></iconify-icon>
                스무고개
            </div>

            <div class="component small_list_component">
                <div class="component_title">
                    <div class="title_info column">
                        우리 반 스무고개

                        <!--/* 생성한 그룹이 없는 교사 권한 사용자 */-->
                        <span th:if="${currentGroup == null}"
                              class="component_sub_title">우리 반을 만들어 스무고개를 함께 즐겨보세요</span>
                        <!--/* 현재 진행중인 스무고개 방이 있을 경우 */-->
                        <span th:if="${currentGroup != null && currentGroupActiveRoomNo != null}"
                              class="component_sub_title">지금 우리 반과 함께 스무고개를 하고 있어요</span>
                        <!--/* 현재 진행중인 스무고개 방이 없을 경우 */-->
                        <span th:if="${currentGroup != null && currentGroupActiveRoomNo == null}"
                              class="component_sub_title">스무고개 방을 만들어 우리 반과 함께 즐겨보세요</span>
                    </div>
                </div>

                <!--/* 생성한 그룹이 있는 교사 권한 사용자 */-->
                <th:block th:if="${currentGroup != null}">
                    <!--/* 스무고개 방 당일 최근 이력 3건 */-->
                    <div th:if="${!#lists.isEmpty(currentGroupTwentyRooms)}" class="tiny_list_component">
                        <div th:each="room : ${currentGroupTwentyRooms}" class="component_info small with_icon">
                            <div class="d_flex align_center tiny_gap text_ellipsis">
                                <th:block th:switch="${room.status}">
                                    <span th:case="'WAITING'" class="color_blue">대기중</span>
                                    <span th:case="'STOPPED'">종료</span>
                                    <span th:case="'COMPLETED'">종료</span>
                                    <span th:case="*" class="color_red">진행중</span>
                                </th:block>
                                <p class="text_ellipsis" th:text="${room.title}">스무고개방 이름</p>
                            </div>
                            <span class="w_max_content color_gray"
                                  th:text="${#dates.format(room.createdDate, 'yyyy.M.d hh:mm:ss')}">2025.9.26 08:40:30</span>
                        </div>
                    </div>

                    <!--/* 현재 진행중인 스무고개 방이 있을 경우 */-->
                    <div th:if="${currentGroupActiveRoomNo != null}" class="btn disabled">현재 진행 중인 방이 있습니다</div>

                    <!--/* 현재 진행중인 스무고개 방이 없을 경우 생성 가능 */-->
                    <form th:if="${currentGroupActiveRoomNo == null}"
                          class="form_wrap small_gap"
                          method="post"
                          th:action="@{/twenty/gameRoom}">
                        <div class="form_input_list">
                            <div class="input_info">
                                <input type="text" name="title" id="title" placeholder=" "/>
                                <label for="title" class="input_title">스무고개 방 이름</label>
                            </div>
                                <!--/* 에러 메세지 표시 */-->
                                <p th:if="${titleError}" th:text="${titleError}" class="error_text"></p>
                            <div class="input_info">
                                <input type="text" name="correct" id="correct" placeholder=" "/>
                                <label for="correct" class="input_title">스무고개 정답</label>
                            </div>
                                <!--/* 에러 메세지 표시 */-->
                                <p th:if="${correctError}" th:text="${correctError}" class="error_text"></p>
                            <input type="hidden" name="groupNo" th:value="${currentGroup.groupNo}">
                        </div>
                        <button type="submit" class="btn primary">방 만들기</button>
                    </form>
                </th:block>

                <!--/* 생성한 그룹이 없는 교사 권한 사용자 */-->
                <button th:if="${currentGroup == null}"
                        type="button" class="modal_gruop_edit_btn btn primary">우리반 만들기</button>
            </div>
        </div>
    </div>

    <div id="sub-content" class="content_container">
        <th:block th:replace="~{fragments/common/profile :: profile-fragment}"></th:block>

        <!--/* 그룹 정보 컴포넌트 */-->
        <div class="component small_list_component">
            <div class="component_title">
                <div class="title_info column">
                    <!--/* 생성한 그룹이 없는 교사 권한 사용자 */-->
                    <div th:if="${currentGroup == null}"
                         class="d_flex justify_content_between align_center small_gap">
                        <p class="text_ellipsis">우리 반이 없습니다</p>
                        <button type="button" class="modal_gruop_edit_btn btn tiny primary">만들기</button>
                    </div>

                    <!--/* 생성한 그룹이 있는 교사 권한 사용자 */-->
                    <div th:if="${currentGroup != null}"
                         class="d_flex justify_content_between align_center small_gap">
                        <!--/* 생성한 그룹이 1개만 있는 교사 권한 사용자 */-->
                        <p th:if="${teacherGroups.size() == 0}"
                           class="text_ellipsis"
                           th:text="${currentGroup.title}">현재 우리반 이름</p>

                        <!--/* 생성한 그룹이 1개 이상 있는 교사 권한 사용자 */-->
                        <select th:if="${teacherGroups.size() > 0}"
                                name="teacherGroups"
                                class="pl_0 text_ellipsis"
                                th:onchange="|location.href='@{/group/teacher}?groupNo=' + this.value|">
                            <!--/* 교사 권한 사용자의 현재 그룹 */-->
                            <option th:text="${currentGroup.title}"
                                    selected
                                    disabled>현재 우리반 이름</option>
                            <!--/* 교사 권한 사용자의 그룹 목록 */-->
                            <option th:each="teacherGroup : ${teacherGroups}"
                                    th:value="${teacherGroup.groupNo}"
                                    th:text="${teacherGroup.title}">우리 반 리스트</option>
                        </select>

                        <button type="button" class="modal_gruop_edit_btn btn tiny white">편집</button>
                    </div>
                </div>
            </div>

            <!--/* 생성한 그룹이 없는 교사 권한 사용자 */-->
            <div th:if="${currentGroup == null}" class="component_info w_100">
                <div class="list_info small_font normal" style="--cols: 24; --indexCols: 2;">
                    <div class="index_list">
                        <span class="marker tac">📖</span>
                        <p>우리 반의 AI 맞춤 학습 자료 관리</p>
                    </div>
                    <div class="index_list">
                        <span class="marker tac">💡</span>
                        <p>우리 반과 함께 스무고개</p>
                    </div>
                    <div class="index_list">
                        <span class="marker tac">👑</span>
                        <p>우리 반 월간 순위 경쟁</p>
                    </div>
                    <div class="index_list">
                        <span class="marker tac">📊</span>
                        <p>우리 반 학습 통계</p>
                    </div>
                </div>
            </div>

            <!--/* 생성한 그룹이 있는 교사 권한 사용자 */-->
            <div th:if="${currentGroup != null}" class="component_info w_100">
                <div class="list_info ov_v small_font normal" style="--cols: 24; --indexCols: 2;">
                    <div class="index_list">
                        <span class="marker tac tooltip" data-label="급훈">📜</span>
                        <p th:text="${currentGroup.motto ?: '-'}">급훈</p>
                    </div>
                    <div class="index_list">
                        <span class="marker tac tooltip" data-label="인원수">👩‍👧‍👧</span>
                        <p th:text="|${currentGroup.getMemberCountFormatted()} 명|">인원 수</p>
                    </div>
                    <div class="index_list">
                        <span class="marker tac tooltip" data-label="생성일">📅</span>
                        <p th:text="${#dates.format(currentGroup.createdDate, 'yyyy-MM-dd')}">생성일</p>
                    </div>
                </div>
            </div>

            <a th:href="@{/group}" class="btn tiny blue w_100 small_font">우리 반으로 가기</a>
        </div>

        <!--/* 스피드, 단계별, 받아쓰기 그룹 랭킹 컴포넌트 */-->
        <div class="component small_list_component pd_0 bg_none border_none box_shadow_none">
            <div class="component_title pd_base pd_top_bottom_0 bg_none border_none">
                <p class="title_info">우리반 순위</p>
            </div>

            <div class="tab_content_list bg_base border_radius box_shadow ranks_component">
                <div class="tab_btn_list">
                    <button type="button" class="tab_btn selected">스피드<span class="active"></span></button>
                    <button type="button" class="tab_btn">단계별<span class="active"></span></button>
                    <button type="button" class="tab_btn">받아쓰기<span class="active"></span></button>
                </div>

                <!--/* 스피드퀴즈 그룹 랭크 */-->
                <div id="speed-ranks-component" class="tab_content selected border_base bt_none pd_base">
                    <div th:replace="~{fragments/rank/rank-component :: rank-component-fragment(ranksDto=${speedQuizRanks}, useTitle=false)}"></div>
                </div>

                <!--/* 단계별 퀴즈 그룹 랭크 */-->
                <div id="level-ranks-component" class="tab_content border_base bt_none pd_base">
                    <div th:replace="~{fragments/rank/rank-component :: rank-component-fragment(ranksDto=${levelQuizRanks}, useTitle=false)}"></div>
                </div>

                <!--/* 받아쓰기 퀴즈 그룹 랭크 */-->
                <div id="dictation-ranks-component" class="tab_content border_base bt_none pd_base">
                    <div th:replace="~{fragments/rank/rank-component :: rank-component-fragment(ranksDto=${dictationQuizRanks}, useTitle=false)}"></div>
                </div>
            </div>
        </div>
    </div>

    <!--/* 그룹 생성, 수정, 삭제 모달창 */-->
    <div th:replace="~{fragments/modal/modal-group-edit :: modal-group-edit-fragment(
        currentGroup=${currentGroup}
        , teacherGroups=${teacherGroups}
    )}"></div>
</div>

<th:block layout:fragment="script">
    <script type="module" th:src="@{/js/modules/group/group.js}"></script>
</th:block>
</html>
