<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kukokuk.domain.quest.mapper.DailyQuestMapper">

    <!--
         * 모든 퀘스트 정보 목록 조회
         * @return 퀘스트 정보 목록
        List<DailyQuest> getDailyQuests();
    -->
    <select id="getDailyQuests" resultType="DailyQuest">
        SELECT
            DAILY_QUEST_NO          AS dailyQuestNo
             , CONTENT_TYPE         AS contentType
             , CONTENT_TEXT         AS contentText
             , POINT                AS point
             , COUNT                AS count
        FROM KUKOKUK_DAILY_QUESTS
        ORDER BY DAILY_QUEST_NO
    </select>

    <!--삭제 예정-->
    <resultMap id="DailyQuestResultMap" type="DailyQuest">
        <id property="dailyQuestNo" column="DAILY_QUEST_NO"/>
        <result property="contentType" column="CONTENT_TYPE"/>
        <result property="contentText" column="CONTENT_TEXT"/>
    </resultMap>
    <select id="getDailyQuestByContentType" resultMap="DailyQuestResultMap">
        SELECT DAILY_QUEST_NO,
               CONTENT_TYPE,
               CONTENT_TEXT
        FROM KUKOKUK_DAILY_QUESTS
        WHERE CONTENT_TYPE = #{contentType}
    </select>

</mapper>