<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/center}">

<div layout:fragment="content">

    <!--/* 왼쪽 퀴즈 영역 */-->
    <div class="quiz_area">
        <div class="study_quiz_wrapper">
            <!-- 퀴즈 번호 및 제목 -->
            <div class="study_quiz_info">
                <div class="icon_btn primary">
                    <iconify-icon icon="line-md:question-circle-twotone"></iconify-icon>
                </div>
                <span class="study_quiz_text">문제</span>
            </div>

            <!-- 문제 박스 -->
            <div class="study_quiz_box"
                th:text="${data.essay.question}"></div>

            <!-- 보기 리스트 -->
            <div class="study_quiz_option_wrapper">
                <div class="study_quiz_info">
                    <div class="icon_btn">
                        <iconify-icon icon="line-md:pencil-twotone"></iconify-icon>
                    </div>
                    <span class="study_quiz_text">답변하기</span>
                </div>
            </div>

            <!--/* 답변 박스 */-->
            <textarea class="study_quiz_box answer" id="essay-answer-input" th:text="${data.essayLog != null ? data.essayLog.userAnswer : ''}">

            </textarea>

            <!--/* 버튼  */-->
            <div class="btn_list">
                <button type="button" class="btn primary d_flex tiny_gap" id="essay-feedback-btn">
                    <div class="icon_btn">
                        <iconify-icon icon="mingcute:ai-fill"></iconify-icon>
                    </div>
                    AI 피드백
                </button>
                <button type="button" class="btn white" id="essay-save-btn">임시저장하기</button>
            </div>

            <div class="d_flex justify_content_end">
                <a href="/study" type="button" class="btn small gray">돌아가기</a>
            </div>
        </div>
    </div>

    <!--/* 오른쪽 피드백 영역 */-->
    <div class="feedback_area">
        <div class="essay_feedback_container">
            <div class="feedback_title">
                AI 피드백
            </div>
            <div id="essay-feedback-box-container" class="essay_feedback_box_container">
                <!-- AI 피드백이 동적으로 생성되어 추가하는 부분 -->
            </div>
        </div>
    </div>

</div>

<script layout:fragment="script" th:inline="javascript">
    /*<![CDATA[*/

    //SSR로 조회한 data.essayLog에서 dailyStudyEssayQuizLogNo를 변수로 저장해놓기
    let essayQuizLogNo  = /*[[${data.essayLog?.dailyStudyEssayQuizLogNo}]]*/ null;
    const essayQuizNo = /*[[${data.essay?.dailyStudyEssayQuizNo}]]*/ null;
    const essayQuizLogAiFeedback = /*[[${data.essayLog?.aiFeedback}]]*/ null;

    const $answerInput = $('#essay-answer-input');
    const $aiFeedbackContainer = $('#essay-feedback-box-container');

    $(document).ready(function() {
        if(essayQuizLogAiFeedback != null){
            const feedbackData = (typeof essayQuizLogAiFeedback === 'string')
                ? JSON.parse(essayQuizLogAiFeedback)
                : essayQuizLogAiFeedback;

            $('.content').removeClass('center').addClass('show_essay_feedback');
            renderAiFeedback(feedbackData);
        }
    });

    /**
     * AI 피드백 버튼을 눌렀을 때 동작하는 이벤트 핸들러 메소드
     */
    $('#essay-feedback-btn').click(function() {

        // 오른쪽 피드백 창이 열리도록 설정
        $('.content').removeClass('center');
        $('.content').addClass('show_essay_feedback');

        const userAnswer = $answerInput.val().trim();
        if (!userAnswer) {
            alert('답변을 입력해주세요.')
            return;
        }
        // dailyStudyEssayQuizLogNo가 null이 아니라면 요청바디에 포함
        // null이면 포함하지않고 AI요청
        const requestBody = {
            dailyStudyEssayQuizLogNo: essayQuizLogNo, // null이면 포함되지 않음
            dailyStudyEssayQuizNo: essayQuizNo,
            userAnswer: userAnswer
        };

        $.ajax({
            url: '/api/studies/essays/ai',
            method: 'PUT',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(requestBody),
            success: function(res) {
                console.log(res);

                renderAiFeedback(res.data);
            },
            error: function(err) {
                alert('피드백 생성에 실패했어요, 다시 시도해주세요');
            }
        })
    })

    /**
     * 저장하기 버튼을 눌렀을 때 동작하는 이벤트 핸들러 메소드
     */
    $('#essay-save-btn').click(function() {
        const userAnswer = $answerInput.val().trim();
        if (!userAnswer) {
            alert('답변을 입력해주세요.')
            return;
        }

        // essayQuizLogNo가 null이면 생성 요청 호출,
        // null이 아니면 서술형퀴즈 이력 수정 요청 호출
        const isUpdate = (essayQuizLogNo != null);
        const url = isUpdate ? `/api/studies/essays/logs/${essayQuizLogNo}` : `/api/studies/essays/logs`;
        const method = isUpdate ? 'PUT' : 'POST';
        $.ajax({
            url: url,
            method: method,
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                dailyStudyEssayQuizNo: essayQuizNo,
                userAnswer : userAnswer
            }),
            success: function(res) {
                alert('저장되었습니다');
                console.log(res);

                // 새로생성된 서술형 이력이면 그 식별자 번호를 JS 변수에 저장
                essayQuizLogNo = essayQuizLogNo != null ? essayQuizLogNo : res.dailyStudyEssayQuizLogNo;
            }
        })
    })

    /**
     * AI 피드백을 렌더링하는 함수
     * @param data
     * data 형식
     * "sections": [
     *       {
     *         "type": "summary",
     *         "title": "총평",
     *         "items": [
     *           {
     *             "extra": {"icon": '👍'},
     *             "text": "답변이 매우 짧고, 문제에서 요구하는 내용을 거의 포함하지 못했습니다. '에브리씽 에브리원 올 앳 원스'라는 좋아하는 영화를 제시했지만, 등장인물, 사건, 시간 순서대로 정리하는 방법을 설명하는 데 실패했습니다. 영화의 순서를 모른다는 점을 솔직하게 밝혔지만, 문제 해결을 위한 추가적인 노력이 필요합니다."
     *           }
     *         ]
     *       },
     *     ]
     */
    function renderAiFeedback(data) {
        $aiFeedbackContainer.empty();

        data.sections.forEach((section, idx) => {
            let itemHtml = '';
            section.items.forEach(item => {
                if(item.text != null) {
                    itemHtml += `<div>
                        ${item.text}
                    </div>`;
                }
            })

            const sectionHtml = `
                <div class="component essay_feedback_box">
                    <div class="title">
                        ${section.title}
                    </div>
                    ${itemHtml}
                </div>
            `;

            // 문자열을 jQuery 객체로 변환
            const $sectionEl = $(sectionHtml);

            // CSS 변수 --delay로 카드별 딜레이 지정 (0s, 1s, 2s...)
            $sectionEl.css('--delay', `${idx * 1}s`);

            // DOM에 추가
            $aiFeedbackContainer.append($sectionEl);

            // 강제 리플로우
            // jQuery객체에서 [0]은 순수 DOM Element
            // .offsetHeight는 DOM요소의 렌더링된 높이를 픽셀단위로 반환
            // 여기서 값을 읽는 것 자체로 지금까지의 모든 스타일 계산과 레이아웃 작업이 완료됨
            // 브라우저가 reveal이 반영되지 않은 초기상태의 요소를 화면에 먼저 반영하도록 함
            $sectionEl[0].offsetHeight;

            // 클래스 부여로 애니메이션 시작
            $sectionEl.addClass('reveal');
        })
    }

    /*]]>*/
</script>

</html>