<!DOCTYPE html>
<html layout:decorate="~{layout/custom-nav-base}" th:with="title='논술형 AI 피드백 받기'">
<div layout:fragment="content">
    <div id="main-content" class="content_container">
        <div class="content_info">
            <div class="content_title">
                <iconify-icon icon="streamline-kameleon-color:pencil-2-duo"></iconify-icon>
                <span th:text="${studyEssayViewDto.dailyStudy.title}">학습 제목</span>

                <div class="progress_end_btn">
                    <button type="button" class="btn tiny">종료하기</button>
                </div>
            </div>
        </div>

        <div class="component">
            <div class="callout center title_font box_shadow_none"
                 style="--callout-color: transparent;">
                <iconify-icon icon="streamline-color:help-question-1"></iconify-icon>
            </div>

            <p class="callout_info bold large_font tac" th:text="${studyEssayViewDto.essay.question}">문제</p>
        </div>

        <label for="essay-answer-input" class="component h_100 textarea_info">
            <textarea id="essay-answer-input"
                      placeholder="입력해 주세요"
                      th:text="${studyEssayViewDto.essayLog != null ? studyEssayViewDto.essayLog.userAnswer : ''}"></textarea>
        </label>


        <div class="btn_list">
            <button type="button" class="btn full_blue tiny_gap" id="essay-feedback-btn">
                <iconify-icon icon="mingcute:ai-fill"></iconify-icon>
                AI 피드백
            </button>
            <button type="button" class="btn white" id="essay-save-btn">임시저장</button>
        </div>
    </div>

    <div id="sub-content"
         class="content_container essay_feedback_container"
         th:with="isEssayAiLog=${studyEssayViewDto.essayLog?.aiFeedback != null}"
         th:data-quiz-no="${studyEssayViewDto.essay.dailyStudyEssayQuizNo}"
         th:data-quiz-log-no="${studyEssayViewDto.essayLog?.dailyStudyEssayQuizLogNo}"
         th:classappend="${isEssayAiLog ? '' : 'close'}">
        <div class="content_info">
            <div class="content_title highlight">
                <iconify-icon class="color_blue" icon="mingcute:ai-fill"></iconify-icon>
                AI 피드백
            </div>
        </div>

        <div id="essay-feedback-list" class="content_info base_gap">
            <div th:if="${isEssayAiLog}"
                 th:each="section : ${studyEssayViewDto.essayLog?.feedbackSections}"
                 class="component small_list_component essay_feedback_box reveal">
                <div class="component_title">
                    <p class="title_info" th:text="|${section.icon} ${section.title}|"></p>
                </div>
                <div class="component_info w_100">
                    <th:block th:each="item : ${section.items}" th:text="|${item.text} |"></th:block>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/modal/modal-essay-exit :: modal-essay-exit-fragment}"></div>
</div>

<th:block layout:fragment="script">
    <script type="module" th:src="@{/js/modules/study/study-essay.js}"></script>
</th:block>
</html>