<!DOCTYPE html>
<html layout:decorate="~{/layout/base}"
      th:with="menu='study', title='오늘의 학습',
      user=${#authentication.principal.user},
      isSetStudyLevel=${user != null
                      and user.studyDifficulty != null
                      and user.currentSchool != null
                      and user.currentGrade != null}">
<div layout:fragment="content">
    <div id="main-content">
        <div class="content_info">
            <div class="content_title">
                <iconify-icon icon="fluent-color:book-open-24"></iconify-icon>
                오늘의 학습
            </div>

            <!--/* 일일학습 카드가 동적으로 추가되는 부분 */-->
            <div class="study_list_container" th:data-is-study-level-set="${isSetStudyLevel}"></div>
        </div>
    </div>

    <div id="sub-content">
        <th:block th:replace="~{fragments/common/profile :: profile-fragment}"></th:block>
        <th:block th:replace="~{fragments/common/quest :: quest-fragment}"></th:block>

        <!-- 학습이력 리스트 컴포넌트 -->
        <div class="component small_list_component" id="study-history-list">
            <div class="component_list_container">
                <div class="component_title">
                    <p class="title_info">학습 이력</p>
                </div>
                <div class="tiny_list_component show_scroll component_list">
                    <div class="study_history_item" th:each="log : ${data.getDailyStudyLogs()}">
                        <div th:text="${log.dailyStudy.title}">일일학습 제목</div>
                        <div class="history_info"
                             th:classappend="${log.status == 'COMPLETED'} ? 'completed' : 'in_progress'">
                            <!-- in_progress, completed -->
                            <span
                                th:text="${log.status == 'COMPLETED'} ? '학습완료' : '학습중'">학습 상태</span>
                            <!-- COMPLETED 상태일 경우 -->
                            <span th:if="${log.status == 'COMPLETED'}"
                                  th:text="'(' + ${#dates.format(log.updatedDate, 'yyyy/MM/dd')} + ')'">
              </span>
                            <!-- IN_PROGRESS 상태 -->
                            <span th:if="${log.status == 'IN_PROGRESS'}"
                                  th:text="'(' + ${#dates.format(log.updatedDate, 'yyyy/MM/dd')} + ' ~)'">
              </span>
                            <span class="icon_btn icon small">
                <iconify-icon icon="ep:arrow-right-bold"></iconify-icon>
              </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        // 사용자 인증정보로 부터 학습수준/진도를 객체로 저장, JS 에서 활용
        const userInfo = {
            difficulty: [[${#authentication?.principal?.user?.studyDifficulty}]],
            school: [[${#authentication?.principal?.user?.currentSchool}]],
            grade: [[${#authentication?.principal?.user?.currentGrade}]]
        };
    </script>
    <script type="module" th:src="@{/js/modules/study/study-main.js}"></script>
</th:block>
</html>