<!DOCTYPE html>
<html layout:decorate="~{/layout/base}"
      th:with="menu='study', title='오늘의 학습',
      user=${#authentication.principal.user},
      isSetStudyLevel=${user != null
                      and user.studyDifficulty != null
                      and user.currentSchool != null
                      and user.currentGrade != null}">
<div layout:fragment="content">
    <div id="main-content" class="content_container">
        <div class="content_info">
            <div class="content_title">
                <iconify-icon icon="fluent-color:book-open-24"></iconify-icon>
                오늘의 학습

                <!--/* 그룹에 속해 있을 경우 일반/우리반 토글 스위치 노출 */-->
                <div th:if="${user?.groupNo != null}"
                     class="group_toggle_btn on">
                    <div class="toggle_switch"></div>
                </div>
            </div>

            <!--/* 일일학습 카드가 동적으로 추가되는 부분 */-->
            <div class="study_list_container" th:data-is-study-level-set="${isSetStudyLevel}"></div>
        </div>
    </div>

    <div id="sub-content" class="content_container">
        <th:block th:replace="~{fragments/common/profile :: profile-fragment}"></th:block>
        <th:block th:replace="~{fragments/common/quest :: quest-fragment}"></th:block>
        <th:block th:replace="~{fragments/study/study-history :: study-history-fragment(studyHistory=${data})}"></th:block>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        // 사용자 인증정보로 부터 학습수준/진도를 객체로 저장, JS 에서 활용
        const userInfo = {
            difficulty: [[${#authentication?.principal?.user?.studyDifficulty}]],
            school: [[${#authentication?.principal?.user?.currentSchool}]],
            grade: [[${#authentication?.principal?.user?.currentGrade}]]
        };
    </script>
    <script type="module" th:src="@{/js/modules/study/study-main.js}"></script>
</th:block>
</html>