<!DOCTYPE html>
<html layout:decorate="~{/layout/custom-nav-base}">
<!--/* 학습 진행화면에서 표시할 네비바 */-->
<th:block layout:fragment="custom-nav-fragment">
    <div th:replace="~{fragments/study/study-nav :: study-nav-fragment(studyProgressDto=${studyProgressDto}, progressIndex=${progressIndex})}"></div>
</th:block>

<div layout:fragment="content">
    <form id="main-content"
          class="content_container"
          method="post"
          th:action="@{/study/progress}"
          th:with="cardCount=${studyProgressDto.dailyStudy.cardCount}
          , quizCount=${studyProgressDto.quizzes.size()}
          , isCardProgress=${progressIndex < cardCount}">
        <input type="hidden" name="progressIndex" th:value="${progressIndex}">

        <!--/* 학습 진행 상태가 카드일 경우 */-->
        <div th:if="${isCardProgress}"
             class="content_info h_100"
             th:with="studyIndex=${isCardProgress ? progressIndex : cardCount - 1}
             , studyCard=${studyProgressDto.cards.get(studyIndex)}">
            <div class="content_title study_content_title" th:text="${studyCard.title}">학습 제목</div>

            <div class="component tiny_list_component study_progress h_100 pd_0"
                 style="--cols: 14; --indexCols: 1;">
                <th:block th:each="item : ${studyCard.studyCardContent}">
                    <div th:if="${item.type == 'paragraph'}" class="component_info">
                        <div class="index_list">
                            <div class="mark">📖</div>
                            <p class="paragraph" th:utext="${item.asString()}">학습내용 paragraph</p>
                        </div>
                    </div>

                    <div th:if="${item.type == 'definition'}" class="component_info">
                        <div class="index_list">
                            <div class="mark">📌</div>
                            <p class="definition" th:utext="${item.asString()}">학습내용정의 definition</p>
                        </div>
                    </div>

                    <div th:if="${item.type == 'example'}" class="component_info">
                        <div class="index_list">
                            <div class="mark">💡</div>
                            <p class="example" th:utext="${item.asString()}">학습내용예시 example</p>
                        </div>
                    </div>

                    <div th:if="${item.type == 'quote'}" class="component_info">
                        <div class="index_list">
                            <div class="mark">💬</div>
                            <p class="quote" th:utext="${item.asString()}">학습내용인용 quote</p>
                        </div>
                    </div>

                    <ul th:if="${item.type == 'list'}" class="list">
                        <li th:each="li : ${item.asList()}" th:utext="${li}">학습내용리스트 list</li>
                    </ul>

                    <table th:if="${item.type == 'table'}" class="table">
                        <tr th:each="row : ${item.asTable()}">
                            <td th:each="cell : ${row}" th:utext="${cell}">학습내용테이블 table</td>
                        </tr>
                    </table>
                </th:block>
            </div>
        </div>

        <!--/* 학습 진행 상태가 퀴즈일 경우 */-->
        <div th:if="${!isCardProgress}"
             class="content_info h_100"
             th:with="quizIndex=${!isCardProgress ? progressIndex - cardCount : 0}
             , studyQuiz=${studyProgressDto.quizzes.get(quizIndex)}">
            <input type="hidden" name="dailyStudyQuizNo" th:value="${studyQuiz.dailyStudyQuizNo}">

            <div class="content_title study_content_title justify_content_center" th:text="|${quizIndex + 1}번 문제|">문제 번호</div>

            <div class="component">
                <p class="callout_info bold large_font tac" th:text="${studyQuiz.question}">문제</p>
            </div>

            <div id="quiz-options" class="tiny_list_component">
                <label for="option1" class="component_info option_btns">
                    <input type="radio" name="selectedChoice" id="option1" value="1">
                    <div class="list_option">
                        <span class="marker">1.</span>
                        <p class="option" th:text="${studyQuiz.option1}">보기</p>
                    </div>
                </label>
                <label for="option2" class="component_info option_btns">
                    <input type="radio" name="selectedChoice" id="option2" value="2">
                    <div class="list_option">
                        <span class="marker">2.</span>
                        <p class="option" th:text="${studyQuiz.option2}">보기</p>
                    </div>
                </label>
                <label for="option3" class="component_info option_btns">
                    <input type="radio" name="selectedChoice" id="option3" value="3">
                    <div class="list_option">
                        <span class="marker">3.</span>
                        <p class="option" th:text="${studyQuiz.option3}">보기</p>
                    </div>
                </label>
                <label for="option4" class="component_info option_btns">
                    <input type="radio" name="selectedChoice" id="option4" value="4">
                    <div class="list_option">
                        <span class="marker">4.</span>
                        <p class="option" th:text="${studyQuiz.option4}">보기</p>
                    </div>
                </label>
            </div>
        </div>

        <div class="btn_list base_gap justify_content_center">
            <button th:if="${progressIndex > 0}" type="submit" name="direction" class="circle_btn" value="prev">
                <iconify-icon class="icon large" icon="emojione:left-arrow"></iconify-icon>
            </button>
            <button type="submit" name="direction" class="circle_btn" value="next">
                <iconify-icon class="icon large" icon="emojione:right-arrow"></iconify-icon>
            </button>
        </div>
    </form>
</div>
</html>