<!DOCTYPE html>
<html layout:decorate="~{layout/custom-nav-base}" th:with="title='학습하기'">
<!--/* 학습 진행화면에서 표시할 네비바 */-->
<th:block layout:fragment="custom-nav-fragment">
    <div th:replace="~{fragments/study/study-nav :: study-nav-fragment(studyProgressDto=${studyProgressDto}, progressIndex=${progressIndex})}"></div>
</th:block>

<div layout:fragment="content">
    <form id="main-content"
          class="content_container"
          method="post"
          th:action="@{/study/progress}"
          th:with="cardCount=${studyProgressDto.dailyStudy.cardCount}
          , quizCount=${studyProgressDto.quizzes.size()}
          , isCardProgress=${progressIndex < cardCount}
          , studyIndex=${isCardProgress ? progressIndex : cardCount - 1}
          , studyCard=${studyProgressDto.cards.get(studyIndex)}
          , quizIndex=${!isCardProgress ? progressIndex - cardCount : 0}
          , studyQuiz=${studyProgressDto.quizWithLogDtos.get(quizIndex)}">
        <input type="hidden" name="progressIndex" th:value="${progressIndex}">

        <!--/* 학습 진행 상태가 카드일 경우 */-->
        <div th:if="${isCardProgress}" class="content_info h_100">
            <div class="content_title study_content_title" th:text="${studyCard.title}">학습 제목</div>

            <div class="component tiny_list_component study_progress h_100 pd_0 show_scroll"
                 style="--cols: 14; --indexCols: 1;">
                <th:block th:each="item : ${studyCard.studyCardContent}">
                    <div th:if="${item.isStringType()} and ${item.type} == 'paragraph'" class="component_info">
                        <div class="index_list">
                            <div class="mark">📖</div>
                            <p class="paragraph" th:utext="${item.asString()}">학습내용 paragraph</p>
                        </div>
                    </div>

                    <div th:if="${item.isStringType()} and ${item.type} == 'definition'" class="component_info">
                        <div class="index_list">
                            <div class="mark">📌</div>
                            <p class="definition" th:utext="${item.asString()}">학습내용정의 definition</p>
                        </div>
                    </div>

                    <div th:if="${item.isStringType()} and ${item.type} == 'example'" class="component_info">
                        <div class="index_list">
                            <div class="mark">💡</div>
                            <p class="example" th:utext="${item.asString()}">학습내용예시 example</p>
                        </div>
                    </div>

                    <div th:if="${item.isStringType()} and ${item.type} == 'quote'" class="component_info">
                        <div class="index_list">
                            <div class="mark">💬</div>
                            <p class="quote" th:utext="${item.asString()}">학습내용인용 quote</p>
                        </div>
                    </div>

                    <div th:if="${item.list}" class="component_info">
                        <ul class="list">
                            <li th:each="li : ${item.asList()}" th:utext="${li}">학습내용리스트 list</li>
                        </ul>
                    </div>

                    <div th:if="${item.table}" class="component_info">
                        <div class="border_base border_radius ov_h box_shadow">
                            <table class="table">
                                <colgroup>
                                    <col style="width: 30%;">
                                    <col th:each="i : ${#numbers.sequence(2, item.tableHeader().size())}"
                                         th:style="|width: calc(70% / ${item.tableHeader().size() - 1});|">
                                </colgroup>

                                <thead>
                                    <tr>
                                        <th th:each="cell : ${item.tableHeader()}" th:utext="${cell}"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="row : ${item.tableBody()}">
                                        <td th:each="cell : ${row}" th:utext="${cell}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>

        <!--/* 학습 진행 상태가 퀴즈일 경우 */-->
        <div th:if="${!isCardProgress}" class="content_info h_100">
            <input type="hidden" name="dailyStudyQuizNo" th:value="${studyQuiz.dailyStudyQuizNo}">

            <div class="content_title study_content_title justify_content_center" th:text="|${quizIndex + 1}번 문제|">문제 번호</div>

            <div class="component">
                <p class="callout_info bold large_font tac" th:text="${studyQuiz.question}">문제</p>
            </div>

            <div id="quiz-options" class="tiny_list_component"
                 th:with="selectedOption=${studyQuiz.dailyStudyQuizLog?.selectedChoice ?: 0}">
                <label th:each="option, state : ${studyQuiz.options}"
                       th:for="|option${state.count}|"
                       class="component_info option_btns">
                    <input type="radio"
                           name="selectedChoice"
                           th:id="|option${state.count}|"
                           th:value="${state.count}"
                           th:checked="${selectedOption == state.count}">
                    <div class="list_option">
                        <span class="marker" th:text="|${state.count}.|">보기 번호.</span>
                        <p class="option" th:text="${option}">보기</p>
                    </div>
                </label>
            </div>
        </div>

        <div class="btn_list base_gap justify_content_center">
            <button th:if="${progressIndex > 0}" type="submit" name="direction" class="circle_btn" value="prev">
                <iconify-icon class="icon large" icon="emojione:left-arrow"></iconify-icon>
            </button>
            <button type="submit" name="direction" class="circle_btn" value="next">
                <iconify-icon class="icon large" icon="emojione:right-arrow"></iconify-icon>
            </button>
        </div>
    </form>
</div>
</html>