<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/center}">
<main class="main">

    <div layout:fragment="content">
        <div id="main-study-content">
            <div class="component study_progress_card">
                <div class="title">학습제목</div>
                <div class="paragraph">학습내용 paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph</div>
                <div class="example">학습내용예시 example</div>
                <div class="definition"> <strong class="definition_term">개념정의</strong>: 뜼ㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆcccccccccccccccccccccccccccccccㅆㅆㅆㅆ</div>
                <div class="quote">학습내용인용 quote</div>
                <div class="list">학습내용리스트 list</div>
            </div>
        </div>
    </div>
</main>


</html>