<!DOCTYPE html>
<html layout:decorate="~{/layout/center}" th:with="title='로그인'">
<div layout:fragment="content">
    <div class="sign_wrap">
        <div class="sign_top">
            <a href="/" class="back_btn">
                <span class="back_icon">
                    <iconify-icon icon="ep:arrow-left-bold"></iconify-icon>
                </span>
                Home
            </a>
            <p class="title">로그인</p>
        </div>

        <span class="logo"></span>

        <form method="post"
              th:action="@{/login}"
              class="wrap_form container"
              id="login-form">

            <div class="form_input_list">
                <div class="input_info">
                    <input type="email" name="username" id="username" autocomplete="username" placeholder=" ">
                    <label for="username" class="input_title">이메일</label>
                    <div class="input_icon">
                        <span class="icon input_delete_btn">
                            <iconify-icon icon="jam:close-circle-f"></iconify-icon>
                        </span>
                    </div>
                </div>

                <div class="input_info">
                    <input type="password"
                           name="password"
                           id="password"
                           autocomplete="current-password"
                           placeholder=" "
                           maxlength="16">
                    <label for="password" class="input_title">비밀번호</label>
                    <div class="input_icon">
                        <span class="icon password input-password-view-btn">
                            <iconify-icon icon="clarity:eye-hide-solid"></iconify-icon>
                        </span>
                        <span class="icon input_delete_btn">
                            <iconify-icon icon="jam:close-circle-f"></iconify-icon>
                        </span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn primary">로그인</button>
        </form>

        <div class="d_flex justify_content_center align_center base_gap">
            <p class="small_font">계정이 없으신가요?</p>
            <a href="/register?reset=true" class="bold color_primary">회원가입</a>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="module" th:src="@{/js/modules/sign/sign-form-handler.js}"></script>
</th:block>
</html>
