<!DOCTYPE html>
<html lang="ko">
<div th:fragment="profile-fragment" id="profile-container" class="component">
    <div class="profile_info">
        <div class="thumbnail"><img src="" alt="profile thumbnail"></div>
        <p class="name">홍길동</p>
    </div>

    <div class="level_info">
        <div class="level_top_info">
            <div class="level_icon_info">
                <div class="level_icon"><span class="level">Lv. 25</span></div>
                <span class="level_detail">(2345/6455)</span>
            </div>
            <span class="percent">62%</span>
        </div>

        <div class="level_bar">
            <div class="experience_point" style="width: 62%;"></div>
        </div>
    </div>

    <th:block th:if="${menu == 'home'}">
        <div class="learning_level_info">
            <div class="learning_info">
                <p class="learning_level">중등 2학년 / 3단계</p>
                <div class="btn small white">변경</div>
            </div>
        </div>
    </th:block>
</div>
</html>