<!DOCTYPE html>
<html layout:decorate="~{/layout/center}" th:with="title=${error}">
<div layout:fragment="content">
    <div id="main-content" class="error_wrap">
        <div class="error_title">
            <span class="error_icon">
                <iconify-icon icon="fluent-color:warning-28"></iconify-icon>
            </span>
            <p class="error_type" th:text="|${status} ${error}|"></p>
        </div>

        <p class="w_100 tac color_gray">
            예상치 못한 오류가 발생했습니다.<br>
            현재 서비스를 이용하실 수 없습니다.<br>
            홈으로 돌아가 다시 시도해 주세요.
        </p>

        <a href="/" class="btn primary small">홈으로</a>
    </div>
</div>
</html>