<!DOCTYPE html>
<html layout:decorate="~{/layout/center}" th:with="title=${error}">
<div layout:fragment="content">
    <div id="main-content" class="error_wrap">
        <div class="error_title">
            <span class="error_icon">
                <iconify-icon icon="fluent-color:warning-28"></iconify-icon>
            </span>
            <p class="error_type" th:text="|${status} ${error}|"></p>
        </div>

        <p class="tac color_gray" th:utext="${message}"></p>

        <a href="/" class="btn primary compact">홈으로</a>
    </div>
</div>
</html>