<!DOCTYPE html>
<html>
<div th:fragment="nav-fragment" class="nav_container">
    <div class="nav_wrap">
        <ul class="nav_list">
            <li class="nav_menu">
                <a href="/" class="menu"
                    th:classappend="${menu == 'home'} ? 'active'">
                    <span class="menu_icon">
                        <iconify-icon icon="fluent-color:home-16"></iconify-icon>
                    </span>
                    <span>홈</span>
                </a>
            </li>
            <li class="nav_menu">
                <a href="" class="menu"
                    th:classappend="${menu == 'study'} ? 'active'">
                    <span class="menu_icon">
                        <iconify-icon icon="fluent-color:book-24"></iconify-icon>
                    </span>
                    <span>학습하기</span>
                </a>
            </li>
            <li class="nav_menu">
                <a href="" class="menu"
                    th:classappend="${menu == 'game'} ? 'active'">
                    <span class="menu_icon">
                        <iconify-icon icon="fluent-color:game-chat-20"></iconify-icon>
                    </span>
                    <span>게임하기</span>
                </a>
            </li>
            <li class="nav_menu">
                <a href="" class="menu"
                    th:classappend="${menu == 'mission'} ? 'active'">
                    <span class="menu_icon">
                        <iconify-icon icon="streamline-color:task-list-flat"></iconify-icon>
                    </span>
                    <span>도전과제</span>
                </a>
            </li>
            <li class="nav_menu">
                <a href="" class="menu"
                    th:classappend="${menu == 'rank'} ? 'active'">
                    <span class="menu_icon">
                        <iconify-icon icon="streamline-ultimate-color:ranking-stars-ribbon"></iconify-icon>
                    </span>
                    <span>랭킹</span>
                </a>
            </li>
            <li class="nav_menu">
                <a href="/user/profile?reset=true" class="menu"
                    th:classappend="${menu == 'profile'} ? 'active'">
                    <!--/* 로그인 전 프로필 이미지 */-->
                    <span class="menu_icon"
                        sec:authorize="!isAuthenticated()">
                        <iconify-icon icon="streamline-color:user-profile-focus-flat"></iconify-icon>
                    </span>

                    <!--/* 로그인 후 사용자 프로필 가져와 img 표시 */-->
                    <span class="menu_icon profile"
                          sec:authorize="isAuthenticated()"
                          th:with="user=${#authentication.principal.user}">
                        <!--/* 프로필 이미지가 있는 경우 */-->
                        <img th:if="${user.profileFilename != null}"
                             th:src="${user.profileFileUrl}"
                             alt="profile thumbnail">

                        <!--/* 프로필 이미지가 없는 경우 (기본 아이콘 출력) */-->
                        <img th:if="${user.profileFilename == null}"
                             th:src="@{/images/basic_profile_img.jpg}"
                             alt="profile thumbnail">
                    </span>
                    <span>프로필</span>
                </a>
            </li>
        </ul>


        <!-- footer -->
        <div th:replace="~{fragments/common/footer :: footer-fragment}"></div>
    </div>
</div>
</html>