<!DOCTYPE html>
<html layout:decorate="~{/layout/center}"
      th:with="title=|${difficulty} 단계 퀴즈|,
      menu='quiz',
      user=${#authentication.principal.user}">
<div layout:fragment="content">
    <div id="main-content" class="content_container">
        <div class="content_info">
            <div class="content_title justify_content_center">
                <iconify-icon icon="token-branded:step"></iconify-icon>
                [[${difficulty}]] 단계 퀴즈

                <div class="progress_end_btn quiz_end_btn">
                    <button type="button" class="btn tiny">종료하기</button>
                </div>
            </div>

            <div class="progress_container">
                <div class="progress_component">
                    <div class="progress_info">
                        <span class="icon">
                            <iconify-icon icon="fluent-color:chat-bubbles-question-16"></iconify-icon>
                        </span>
                        <p class="info">
                            <span id="quiz-current">1</span> / <span th:text="${quizList.size()}">0</span>
                        </p>
                    </div>
                    <div class="progress_info">
                        <div class="hints_info">
                            <div class="hint_icon"></div>
                            <span class="hint_count">x <span id="hint-count" th:text="${user.hintCount}">0</span></span>
                        </div>
                    </div>
                </div>

                <div class="bar_gauge">
                    <div id="step-progress-bar" class="gauge" style="width: 0%;"></div>
                </div>
            </div>
        </div>

        <!--/* 문제 */-->
        <div class="component">
            <p id="quiz-question" class="callout_info bold large_font tac"></p>

            <div class="callout right pd_0 box_shadow_none"
                 style="--callout-color: transparent;" th:with="isAvailable=${user.hintCount != null && user.hintCount > 0}">
                <div class="hints_info">
                    <button type="button"
                            th:id="${isAvailable ? 'quizHint' : ''}"
                            class="icon base dictation_hint_btn tooltip"
                            th:classappend="${!isAvailable ? 'disabled' : ''}"
                            data-label="보기 1개 제거">
                        <iconify-icon class="icon title_font" icon="ri:space"></iconify-icon>
                    </button>
                </div>
            </div>
        </div>

        <!--/* 보기 */-->
        <div id="quiz-options" class="tiny_list_component"></div>

        <!-- 다음 버튼 -->
        <button id="next-btn" class="btn primary" type="button">다음</button>
    </div>

    <!-- 결과 제출용 폼 -->
    <form id="quiz-result-form" method="post" th:action="@{/quiz/result}"></form>

    <!--/* 게임 종료 안내 모달창 */-->
    <div th:replace="~{fragments/modal/modal-quiz-exit :: modal-quiz-exit-fragment}"></div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        let quizzes = /*[[${quizList}]]*/ [];
    </script>
    <script th:src="@{/js/modules/quiz/level.js}"></script>
</th:block>
</html>