<!DOCTYPE html>
<html layout:decorate="~{/layout/base}" th:with="menu='quiz', title='단계별 퀴즈 설정'">
<div layout:fragment="content">
    <div id="main-content" class="content_container">
        <form class="w_100 d_flex column large_gap"
              th:action="@{/quiz/level}"
              method="get"
              id="levelQuizForm">
            <div class="content_info">
                <div class="content_title">
                    <iconify-icon icon="token-branded:step"></iconify-icon>
                    문제 유형 선택
                </div>

                <!--/* 출제 유형 선택 */-->
                <div class="grid_list_component">
                    <label class="component grid_list elevate_on_hover">
                        <input type="radio" name="questionType" value="뜻">
                        <div class="component_title">
                            <p class="title_info column">
                                이 뜻, 어떤 단어일까?
                                <span class="component_sub_title">
                                    뜻을 보고 알맞은 단어를 골라보세요!
                                </span>
                            </p>
                        </div>
                    </label>
                    <label class="component grid_list elevate_on_hover">
                        <input type="radio" name="questionType" value="단어">
                        <div class="component_title">
                            <p class="title_info column">
                                이 단어, 무슨 뜻일까?
                                <span class="component_sub_title">
                                    단어를 보고 정확한 뜻을 찾아보세요!
                                </span>
                            </p>
                        </div>
                    </label>
                </div>
            </div>

            <div class="content_info">
                <div class="content_title">
                    <iconify-icon icon="token-branded:step"></iconify-icon>
                    난이도 선택
                </div>

                <!--/* 난이도 선택 */-->
                <div class="grid_list_component">
                    <label class="component grid_list elevate_on_hover">
                        <input type="radio" name="difficulty" value="하">
                        <div class="component_title">
                            <p class="title_info column">
                                쉬움
                                <span class="component_sub_title">
                                    뇌가 움직일 차례
                                </span>
                            </p>
                        </div>
                    </label>
                    <label class="component grid_list elevate_on_hover">
                        <input type="radio" name="difficulty" value="중">
                        <div class="component_title">
                            <p class="title_info column">
                                보통
                                <span class="component_sub_title">
                                    살짝 땀 날지도?
                                </span>
                            </p>
                        </div>
                    </label>
                    <label class="component grid_list elevate_on_hover">
                        <input type="radio" name="difficulty" value="상">
                        <div class="component_title">
                            <p class="title_info column">
                                어려움
                                <span class="component_sub_title">
                                    집중 회로 풀가동
                                </span>
                            </p>
                        </div>
                    </label>
                </div>
            </div>

            <button type="submit" class="btn primary">시작하기</button>
        </form>

        <!--/* 이 폼이 왜 있는지 이해가 안됨 */-->
        <form id="quiz-result-form" th:action="@{/quiz/submit}" method="post">
            <input type="hidden" name="difficulty" th:value="${difficulty}">
            <input type="hidden" name="questionType" th:value="${questionType}">
        </form>
    </div>

    <div id="sub-content" class="content_container">
        <th:block th:replace="~{fragments/common/profile :: profile-fragment}"></th:block>
        <th:block th:replace="~{fragments/common/quest :: quest-fragment}"></th:block>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="module" th:src="@{/js/modules/quiz/level-select.js}"></script>
</th:block>
</html>

