<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/base}" th:with="menu='quiz', title='게임하기'">
<div layout:fragment="content">
    <div id="main-content" class="d_flex column base_gap">
        <div>
            <h1 class="content_title">게임하기</h1>
        </div>
        <a href="/quiz/speed" class="btn game_menu d_flex column small_gap">
            <p class="bold">스피드 퀴즈</p>
            <p class="small_font">제한시간 내 풀어야 되는 퀴즈입니다.</p>
        </a>
        <a href="/quiz/level-select" class="btn game_menu d_flex column small_gap">
            <p class="bold">단계별 퀴즈</p>
            <p class="small_font">수준에 맞는 문제를 푸는 퀴즈입니다.</p>
        </a>
        <a href="/dictation/start" class="btn game_menu d_flex column small_gap">
            <p class="bold">받아쓰기</p>
            <p class="small_font">받아쓰기 설명입니다.</p>
        </a>
        <a href="/quiz/" class="btn game_menu d_flex column small_gap">
            <p class="bold">스무고개</p>
            <p class="small_font">Comming soon..</p>
        </a>
    </div>

    <div id="sub-content">
        <th:block th:replace="~{fragments/common/profile :: profile-fragment}"></th:block>
    </div>
</div>
</html>