<!DOCTYPE html>
<html layout:decorate="~{/layout/center}" th:with="title='스피드 퀴즈', menu='quiz'">
<div layout:fragment="content">
    <div id="main-content" class="content_container">
        <div class="content_info">
            <div class="content_title justify_content_center">
                <iconify-icon icon="flat-color-icons:flash-on"></iconify-icon>
                스피드 퀴즈

                <div class="progress_end_btn quiz_end_btn">
                    <button type="button" class="btn tiny">종료하기</button>
                </div>
            </div>

            <div class="progress_container">
                <div class="progress_component">
                    <div class="progress_info">
                        <span class="icon">
                            <iconify-icon icon="fluent-color:chat-bubbles-question-16"></iconify-icon>
                        </span>
                        <p class="info">
                            <span id="quiz-current"></span> / <span th:text="${quizList.size()}">0</span>
                        </p>
                    </div>
                    <div class="progress_info">
                        <span class="icon">
                            <iconify-icon icon="fluent-color:clock-alarm-20"></iconify-icon>
                        </span>
                        <p id="quiz-timer" class="info timer">00 초</p>
                    </div>
                </div>

                <div class="bar_gauge">
                    <div id="timer-progress-bar" class="gauge" style="width: 100%;"></div>
                </div>
            </div>
        </div>

        <!--/* 문제 */-->
        <div class="component">
            <div id="quiz-callout" class="callout center">단어</div>
            <p id="quiz-question" class="callout_info bold large_font tac"></p>
        </div>

        <!--/* 보기 */-->
        <div id="quiz-options" class="tiny_list_component"></div>
    </div>

    <!--/* 결과 제출용 폼 */-->
    <form id="quiz-result-form" method="post" th:action="@{/quiz/result}"></form>

    <!--/* 게임 종료 안내 모달창 */-->
    <div th:replace="~{fragments/modal/modal-quiz-exit :: modal-quiz-exit-fragment}"></div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        const quizMode = "speed";
        let quizzes = /*[[${quizList}]]*/ [];
    </script>
    <script th:src="@{/js/modules/quiz/quiz.js}"></script>
</th:block>
</html>
