<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/center}">
<div layout:fragment="content" class="quiz-container">
    <h1 class="quiz-title">스피드 퀴즈</h1>

    <!-- 문제 수 / 타이머 -->
    <div id="quiz-header">
        <div>
            <span id="quiz-current">1</span> / <span id="quiz-total">10</span>
        </div>
        <div id="quiz-timer">00:10</div>
    </div>

    <!-- 진행 바 -->
    <div class="level_info timer_progress">
        <div class="timer_level_bar">
            <div class="timer_experience_point" id="timer-progress-bar"></div>
        </div>
    </div>

    <!-- 문제 -->
    <div id="quiz-question"></div>
    <!-- 보기 -->
    <div id="quiz-options"></div>

    <!-- 결과 제출용 폼 -->
    <form id="quiz-result-form" method="post" th:action="@{/quiz/result}"></form>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        let quizzes = /*[[${quizList}]]*/ [];
    </script>
    <script th:src="@{/js/modules/quiz/speed.js}"></script>
</th:block>
</html>
