<!DOCTYPE html>
<html layout:decorate="~{/layout/base}"
      th:with="menu='home',
      isAuth=${#authorization.expression('isAuthenticated()')},
      d=${isAuth ? #authentication.principal?.user?.studyDifficulty : null},
      s=${isAuth ? #authentication.principal?.user?.currentSchool : null},
      g=${isAuth ? #authentication.principal?.user?.currentGrade : null},
      ready=${d != null and s != null and g != null}">

<div layout:fragment="content">
    <div id="main-content" class="main_container">
        <div class="content_info">
            <div class="content_title">
                <iconify-icon icon="fluent-color:book-open-24"></iconify-icon>
                오늘의 학습하기
            </div>

            <div class="component base_list_component study_list_container">
                <!-- 일일학습 카드가 동적으로 추가되는 부분 -->

                <!--/* 로그인 되어있지 않은 경우 */-->
                <a th:if="${!isAuth}"
                   href="/login"
                   class="component_title justify_content_center pd_base tac">
                    <div class="title_info">
                        로그인하고 AI 기반 학습 서비스를<br>
                        경험해 보세요!
                    </div>
                </a>

                <!--/* 로그인 되어있고 학습수준이 설정되어 있지 않은 경우*/-->
                <button th:if="${isAuth and !ready}"
                        type="button"
                        class="component_title justify_content_center pd_base tac">
                    <div class="title_info">
                        학습수준 설정하고 일일학습하기
                    </div>
                </button>
            </div>
        </div>

        <div class="content_info">
            <div class="content_title">
                <iconify-icon icon="fluent-color:game-chat-20"></iconify-icon>
                게임하기
            </div>
            <div class="square_container">
                <a href="/quiz/speed" class="square_component">
                    <span class="square_text">스피드퀴즈</span>
                    <span class="square_emoji">⚡</span>
                </a>
                <a href="/quiz/level-select" class="square_component">
                    <span class="square_text">단계별퀴즈</span>
                    <span class="square_emoji">📚</span>
                </a>
                <a href="/dictation/start" class="square_component">
                    <span class="square_text">받아쓰기</span>
                    <span class="square_emoji">✍️</span>
                </a>
            </div>
        </div>
    </div>

    <div id="sub-content">
        <th:block th:replace="~{fragments/common/profile :: profile-fragment}"></th:block>
        <th:block th:replace="~{fragments/common/quest :: quest-fragment}"></th:block>
    </div>
</div>

<th:block layout:fragment="script">
    <!--/* 로그인 되어있고 학습수준이 설정되어 있은 경우*/-->
    <th:block th:if="${isAuth and ready}">
        <!--/* 학습 목록을 요청 */-->
        <script type="module" th:src="@{/js/modules/main/main.js}"></script>
    </th:block>
</th:block>
</html>
