<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      th:with="menu='home',
      isAuth=${#authorization.expression('isAuthenticated()')},
      user=${isAuth ? #authentication.principal.user : null},
      isSetStudyLevel=${user != null
                      && user.studyDifficulty != null
                      && user.currentSchool != null
                      && user.currentGrade != null}">
<div layout:fragment="content">
    <div id="main-content" class="content_container">
        <div class="content_info"
             th:classappend="${isAuth ? (user?.groupNo != null ? 'toggle_info_component first' : 'toggle_info_component second') : ''}">
            <div class="content_title">
                <iconify-icon icon="fluent-color:book-open-24"></iconify-icon>
                오늘의 학습

                <!--/* 로그인이 되었고 그룹에 속해 있을 경우 일반/우리반 토글 스위치 노출 */-->
                <div th:if="${isAuth && user?.groupNo != null}"
                     class="content_switcher switch_toggle_btn"
                     data-before="우리반"
                     data-after="일반">
                    <div class="toggle_switch"></div>
                </div>
            </div>

            <!--/* 로그인 되어있지 않은 경우 */-->
            <div class="component elevate_on_hover"
                 th:if="${!isAuth}">
                <a href="/login" class="component_title justify_content_center pd_base tac">
                    <div class="title_info">
                        안녕하세요! AI가 맞춤형 학습을 도와줄 준비가 되어 있어요. 로그인하고 바로 경험해보세요!
                    </div>
                </a>
            </div>

            <!--/* 로그인 되어있는 경우 */-->
            <th:block th:if="${isAuth}">
                <!--/* 그룹에 속한 사용자 */-->
                <th:block th:if="${user?.groupNo != null}">
                    <div th:replace="~{fragments/study/group-study-list :: group-study-list-fragment(groupStudyRows=1, isUseSpinner=true)}"></div>
                </th:block>

                <!--/* 학습 진도/단계 설정이 필요한 경우 */-->
                <div class="component elevate_on_hover toggle_info_second"
                     th:if="${!isSetStudyLevel}">
                    <button type="button"
                            class="modal_study_level_btn component_title justify_content_center pd_base tac">
                        <div class="title_info">
                            학습 수준을 설정하고 오늘의 학습을 시작해볼까요?
                        </div>
                    </button>
                </div>

                <!--/* 학습 진도/단계 설정이 완료된 경우 컨텐츠 추가 */-->
                <th:block th:if="${isSetStudyLevel}">
                    <div th:replace="~{fragments/study/study-list :: study-list-fragment(studyRows=1, isUseSpinner=true)}"></div>
                </th:block>
            </th:block>
        </div>

        <div class="content_info">
            <p class="content_title">
                <iconify-icon icon="fluent-color:game-chat-20"></iconify-icon>
                국어 놀이터
            </p>
            <div class="grid_list_component">
                <a href="/quiz/speed" class="component grid_list elevate_on_hover">
                    <div class="component_title">
                        <p class="title_info column">
                            스피드 퀴즈
                            <span class="component_sub_title">
                                제한 시간 내 문제를 풀고, 순위를 확인해 보세요!
                            </span>
                        </p>
                    </div>
                    <span class="icon base">
                        <iconify-icon icon="flat-color-icons:flash-on"></iconify-icon>
                    </span>
                </a>
                <a href="/quiz/level-select" class="component grid_list elevate_on_hover">
                    <div class="component_title">
                        <p class="title_info column">
                            단계별 퀴즈
                            <span class="component_sub_title">
                                단계별 문제를 풀며 실력을 키워보세요!
                            </span>
                        </p>
                    </div>
                    <span class="icon base">
                        <iconify-icon icon="token-branded:step"></iconify-icon>
                    </span>
                </a>
                <a href="/dictation/start" class="component grid_list elevate_on_hover">
                    <div class="component_title">
                        <p class="title_info column">
                            받아쓰기
                            <span class="component_sub_title">
                                AI가 생성한 문장을 듣고 받아쓰기에 도전해 보세요!
                            </span>
                        </p>
                    </div>
                    <span class="icon base">
                        <iconify-icon icon="flat-color-icons:voice-presentation"></iconify-icon>
                    </span>
                </a>
            </div>
        </div>
        
    </div>
    <div id="sub-content" class="content_container">
        <th:block th:replace="~{fragments/common/profile :: profile-fragment}"></th:block>
        <th:block th:replace="~{fragments/common/quest :: quest-fragment}"></th:block>
    </div>
</div>
</html>
