<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kukokuk.domain.study.mapper.DailyStudyMapper">
    
    <resultMap id="DailyStudyResultMap" type="DailyStudy">
        <id column="DAILY_STUDY_NO" property="dailyStudyNo"/>
        <result column="TITLE" property="title"/>
        <result column="EXPLANATION" property="explanation"/>
        <result column="STUDY_DIFFICULTY" property="studyDifficulty"/>
        <result column="CARD_COUNT" property="cardCount"/>
        <result column="CREATED_DATE" property="createdDate"/>
        <result column="UPDATED_DATE" property="updatedDate"/>
        <result column="DAILY_STUDY_MATERIAL_NO" property="dailyStudyMaterialNo"/>
    </resultMap>

    <!--
    public List<DailyStudy> getDailyStudiesByUser(@Param("userNo") int userNo,
        @Param("studyDifficulty") int studyDifficulty,
        @Param("condition") Map<String, Object> condition);

        조건 파라미터 설명
          - userInfo.currentSchool: 사용자의 현재 학교
          - userInfo.currentGrade: 사용자의 현재 학년
          - userInfo.studyDifficulty: 사용자의 설정 난이도
          - userNo: 사용자 식별자
          - condition.rows: 추천 학습 개수
    -->
    <resultMap id="UserStudyRecommendationDtoResultMap" type="UserStudyRecommendationDto">
        <!-- 단일 필드 매핑 -->
        <result column="DAILY_STUDY_NO" property="dailyStudyNo"/>
        <result column="DAILY_STUDY_LOG_NO" property="dailyStudyLogNo"/>
        <result column="USER_NO" property="userNo"/>
        <result column="DAILY_STUDY_MATERIAL_NO" property="dailyStudyMaterialNo"/>
        <result column="DAILY_STUDY_ESSAY_QUIZ_LOG_NO" property="dailyStudyEssayQuizLogNo"/>

        <!-- 중첩 객체: DailyStudy -->
        <association property="dailyStudy" javaType="DailyStudy">
            <result column="DAILY_STUDY_NO" property="dailyStudyNo"/>
            <result column="TITLE" property="title"/>
            <result column="EXPLANATION" property="explanation"/>
            <result column="STUDY_DIFFICULTY" property="studyDifficulty"/>
            <result column="CARD_COUNT" property="cardCount"/>
            <result column="CREATED_DATE" property="createdDate"/>
            <result column="UPDATED_DATE" property="updatedDate"/>
        </association>

        <!-- 중첩 객체: DailyStudyLog -->
        <association property="dailyStudyLog" javaType="DailyStudyLog">
            <result column="DAILY_STUDY_LOG_NO" property="dailyStudyLogNo"/>
            <result column="STUDIED_CARD_COUNT" property="studiedCardCount"/>
            <result column="STATUS" property="status"/>
            <result column="LOG_CREATED_DATE" property="createdDate"/>
            <result column="LOG_UPDATED_DATE" property="updatedDate"/>
            <result column="USER_NO" property="userNo"/>
        </association>

        <!-- 중첩 객체: DailyStudyMaterial -->
        <association property="dailyStudyMaterial" javaType="DailyStudyMaterial">
            <result column="DAILY_STUDY_MATERIAL_NO" property="dailyStudyMaterialNo"/>
            <result column="SCHOOL" property="school"/>
            <result column="GRADE" property="grade"/>
            <result column="SEQUENCE" property="sequence"/>
        </association>
    </resultMap>

    <select id="getDailyStudiesByUser" resultMap="UserStudyRecommendationDtoResultMap">
        SELECT
            S.DAILY_STUDY_NO,
            S.TITLE,
            S.EXPLANATION,
            S.STUDY_DIFFICULTY,
            S.CARD_COUNT,
            S.CREATED_DATE AS STUDY_CREATED_DATE,
            S.UPDATED_DATE AS STUDY_UPDATED_DATE,

            L.DAILY_STUDY_LOG_NO,
            L.STUDIED_CARD_COUNT,
            L.STATUS,
            L.CREATED_DATE AS LOG_CREATED_DATE,
            L.UPDATED_DATE AS LOG_UPDATED_DATE,
            L.USER_NO,

            M.DAILY_STUDY_MATERIAL_NO,
            M.SCHOOL,
            M.GRADE,
            M.SEQUENCE,

            EL.DAILY_STUDY_ESSAY_QUIZ_LOG_NO
        FROM
            KUKOKUK_DAILY_STUDY_MATERIALS M
            LEFT OUTER JOIN KUKOKUK_DAILY_STUDIES S
                ON M.DAILY_STUDY_MATERIAL_NO = S.DAILY_STUDY_MATERIAL_NO
                /* 그 원본데이터에 사용자 수준에 맞는 학습자료가 생성되어있거나, 학습자료가 아직 생성되지 않은경우 포함
                   JOIN 조건으로 포함해야 정상 동작함*/
                AND (S.STUDY_DIFFICULTY = #{userInfo.studyDifficulty} OR S.STUDY_DIFFICULTY IS NULL)
            LEFT OUTER JOIN KUKOKUK_DAILY_STUDY_LOGS L
                ON S.DAILY_STUDY_NO = L.DAILY_STUDY_NO
            LEFT OUTER JOIN KUKOKUK_DAILY_STUDY_ESSAY_QUIZZES E
                      ON S.DAILY_STUDY_NO = E.DAILY_STUDY_NO
            LEFT OUTER JOIN KUKOKUK_DAILY_STUDY_ESSAY_QUIZ_LOGS EL
                      ON E.DAILY_STUDY_ESSAY_QUIZ_NO = EL.DAILY_STUDY_ESSAY_QUIZ_NO
                          AND EL.USER_NO = #{userNo}
        WHERE
            /* 사용자의 학교/학년에 맞는 원본데이터 */
            M.SCHOOL = #{userInfo.currentSchool}
            AND M.GRADE = #{userInfo.currentGrade}
            /* 그 원본데이터에 연결된 학습이력이 아예 존재하지 않거나,
                해당 사용자와 연결된 학습이력이 있고 학습완료 상태가 아닐때만 포함 */
            AND (
                L.USER_NO IS NULL
                OR (L.USER_NO = #{userNo}
                        AND (
                            L.STATUS != 'COMPLETED'
                            OR (L.STATUS = 'COMPLETED' AND EL.DAILY_STUDY_ESSAY_QUIZ_LOG_NO IS NULL)
                        )
                    )
            )
        ORDER BY
            /* 사용자가 이미 학습 진행중인 학습자료가 우선순위가 높도록 설정 */
            CASE
                WHEN L.STATUS = 'COMPLETED' THEN 0
                WHEN L.STATUS = 'IN_PROGRESS' THEN 1
                ELSE 2
            END,
            /* 사용자가 이미 학습 진행중인 학습자료 중에서도 가장 최근에 학습한 학습자료가 먼저
                학습이력이 아예 NULL일 경우는 UPDATE_DATE 정렬해서 고려되지 않아야 하므로 후순위로 */
            CASE
                WHEN L.UPDATED_DATE IS NULL THEN 1
                ELSE 0
            END,
            L.UPDATED_DATE DESC,
            /* 학습자료 원본데이터의 자료순서대로 */
            M.SEQUENCE ASC
        LIMIT 0, #{condition.rows}
    </select>

    <!--
        void insertDailyStudy(DailyStudy dailyStudy);
    -->
    <insert id="insertDailyStudy" parameterType="DailyStudy" useGeneratedKeys="true" keyProperty="dailyStudyNo" keyColumn="DAILY_STUDY_NO">
        INSERT INTO KUKOKUK_DAILY_STUDIES
            (STUDY_DIFFICULTY, TITLE, EXPLANATION,  DAILY_STUDY_MATERIAL_NO, CARD_COUNT)
        VALUES
            (#{studyDifficulty}, #{title}, #{explanation}, #{dailyStudyMaterialNo}, #{cardCount})
    </insert>

    <!--
        DailyStudy getDailyStudyByNo(int dailyStudyNo);
    -->
    <select id="getDailyStudyByNo" resultMap="DailyStudyResultMap">
        SELECT
            DAILY_STUDY_NO,
            TITLE,
            EXPLANATION,
            STUDY_DIFFICULTY,
            CARD_COUNT,
            CREATED_DATE,
            UPDATED_DATE,
            DAILY_STUDY_MATERIAL_NO
        FROM
            KUKOKUK_DAILY_STUDIES
        WHERE
            DAILY_STUDY_NO = #{dailyStudyNo}
    </select>

    <!--
        UserStudyRecommendationDto getDailyStudyByMaterialNoAndDifficulty(
            @Param("dailyStudyMaterialNo") int dailyStudyMaterialNo,
            @Param("studyDifficultyNo") int studyDifficultyNo);
    -->
    <select id="getDailyStudyByMaterialNoAndDifficulty"
      resultMap="UserStudyRecommendationDtoResultMap">
        SELECT
            S.DAILY_STUDY_NO,
            S.TITLE,
            S.EXPLANATION,
            S.STUDY_DIFFICULTY,
            S.CARD_COUNT,
            S.CREATED_DATE AS STUDY_CREATED_DATE,
            S.UPDATED_DATE AS STUDY_UPDATED_DATE,

            M.DAILY_STUDY_MATERIAL_NO,
            M.SCHOOL,
            M.GRADE,
            M.SEQUENCE

        FROM
            KUKOKUK_DAILY_STUDY_MATERIALS M
                LEFT OUTER JOIN KUKOKUK_DAILY_STUDIES S
                                ON M.DAILY_STUDY_MATERIAL_NO = S.DAILY_STUDY_MATERIAL_NO
                                    /* 그 원본데이터에 사용자 수준에 맞는 학습자료가 생성되어있거나, 학습자료가 아직 생성되지 않은경우 포함
                                       JOIN 조건으로 포함해야 정상 동작함*/
                                    AND (S.STUDY_DIFFICULTY = #{studyDifficultyNo} OR S.STUDY_DIFFICULTY IS NULL)
                LEFT OUTER JOIN KUKOKUK_DAILY_STUDY_ESSAY_QUIZZES E
                                ON S.DAILY_STUDY_NO = E.DAILY_STUDY_NO
        WHERE
            M.DAILY_STUDY_MATERIAL_NO = #{dailyStudyMaterialNo}
    </select>

</mapper>