<!DOCTYPE html>
<html layout:decorate="~{/layout/center}">
<div layout:fragment="content">
    <div class="sign_wrap">
        <div th:replace="~{fragments/sign/register-top :: register-top-fragment('회원가입')}"></div>

        <span class="logo"></span>

        <div th:replace="~{fragments/sign/step-bar :: step-fragment(5, 5)}"></div>

        <div class="wrap_form container bg_light_gray"
             id="register-form">
            <div class="input_description d_flex column align_center base_gap tac">
                <div class="d_flex column align_center small_gap">
                    <iconify-icon class="titlt_font color_primary" icon="icon-park-solid:check-one"></iconify-icon>
                    <h2 class="large_font bold color_primary">회원가입 완료</h2>
                </div>
                <p>
                    가입을 환영영합니다.<br>
                    로그인 후 국어국 서비스를 이용하실 수 있습니다.
                </p>
            </div>

            <div class="btn_list">
                <a href="/" class="btn white">홈으로</a>
                <a href="/login" class="btn primary">로그인</a>
            </div>
        </div>
    </div>
</div>
</html>
