<!DOCTYPE html>
<html layout:decorate="~{/layout/center}" th:with="title='회원가입'">
<div layout:fragment="content">
    <div class="sign_wrap">
        <div th:replace="~{fragments/sign/register-top :: register-top-fragment('회원가입')}"></div>

        <span class="logo"></span>

        <div th:replace="~{fragments/sign/step-bar :: step-fragment(4, 2)}"></div>

        <form method="post"
              th:action="@{/register/password}"
              th:object="${userRegisterForm}"
              class="wrap_form container"
              id="register-form">

            <input type="text" name="username" th:value="${userRegisterForm.username}" autocomplete="username" hidden>

            <div class="input_description">
                <p class="description">
                    비밀번호는 8~16자의 영문 대/소문자, 숫자, 특수문자<br>
                    (@, $, !, %, *, ?, &)를 사용해 주세요.
                </p>
            </div>

            <div class="form_input_list">
                <div class="input_info">
                    <input type="password"
                           th:field="*{password}"
                           id="password"
                           autocomplete="new-password"
                           minlength="8"
                           maxlength="16"
                           placeholder=" ">

                    <label for="password" class="input_title"
                           th:classappend="${#fields.hasErrors('password')} ? 'disabled'">비밀번호</label>

                    <span class="input_error" th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[0]}"></span>

                    <div class="input_icon">
                        <span class="icon password input-password-view-btn">
                            <iconify-icon icon="clarity:eye-hide-solid"></iconify-icon>
                        </span>
                        <span class="icon input_delete_btn">
                            <iconify-icon icon="jam:close-circle-f"></iconify-icon>
                        </span>
                    </div>
                </div>

                <div class="input_info">
                    <input type="password"
                           th:field="*{passwordConfirm}"
                           id="password-confirm"
                           autocomplete="new-password"
                           maxlength="16"
                           placeholder=" ">

                    <label for="password-confirm" class="input_title"
                           th:classappend="${#fields.hasErrors('passwordConfirm')} ? 'disabled'">비밀번호 확인</label>

                    <span class="input_error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>

                    <div class="input_icon">
                        <span class="icon password input-password-view-btn">
                            <iconify-icon icon="clarity:eye-hide-solid"></iconify-icon>
                        </span>
                        <span class="icon input_delete_btn">
                            <iconify-icon icon="jam:close-circle-f"></iconify-icon>
                        </span>
                    </div>
                </div>
            </div>

            <div class="btn_list">
                <a href="/register" class="btn white">이전</a>
                <button type="submit" id="submit-btn" class="btn primary">다음</button>
            </div>
        </form>
    </div>
</div>

<th:block layout:fragment="script">
    <!--/* 최초 랜더링 시 제출 버튼 활성화 설정 */-->
    <script th:inline="javascript">
        let hasError = [[${hasError}]];
        const password = $("#password").val().trim();
        const passwordConfim = $("#password-confirm").val().trim();

        if (password === "" || passwordConfim === "" || hasError) {
            $("#submit-btn").addClass("disabled");
        }
    </script>
    <script type="module" th:src="@{/js/modules/sign/sign-form.js}"></script>
</th:block>
</html>
