<!DOCTYPE html>
<html layout:decorate="~{/layout/center}" th:with="title='회원가입'">
<div layout:fragment="content">
    <div class="sign_wrap">
        <div class="sign_top">
            <a href="/" class="back_btn">
                <span class="back_icon">
                    <iconify-icon icon="ep:arrow-left-bold"></iconify-icon>
                </span>
                Home
            </a>
            <p class="title">회원가입</p>
        </div>

        <span class="logo"></span>

        <div class="step_bar">
            <div class="step_circle_container">
                <div class="step_circle action"></div>
                <div class="step_circle action"></div>
                <div class="step_circle"></div>
                <div class="step_circle"></div>
                <div class="step_circle"></div>
            </div>
            <div class="current_step" style="width: 25%;"></div>
        </div>

        <form method="post"
              th:action="@{/register/password}"
              th:object="${userRegisterForm}"
              class="wrap_form container"
              id="register-form">

            <input type="text" name="username" th:value="${userRegisterForm.username}" autocomplete="username" hidden>

            <div class="input_description">
                <p class="description">사용중인 이메일을 입력해 주세요</p>
            </div>

            <div class="form_input_list">
                <div class="input_info one_input">
                    <input type="password"
                           th:field="*{password}"
                           id="password"
                           autocomplete="new-password"
                           minlength="8"
                           maxlength="16"
                           placeholder=" ">

                    <label for="password" class="input_title"
                           th:classappend="${#fields.hasErrors('password')} ? 'disabled'">비밀번호</label>

                    <span class="input_error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

                    <div class="input_icon">
                        <span id="input-password-view-btn" class="icon password">
                            <iconify-icon icon="clarity:eye-hide-solid"></iconify-icon>
                        </span>
                        <span class="icon input_delete_btn">
                            <iconify-icon icon="jam:close-circle-f"></iconify-icon>
                        </span>
                    </div>
                </div>
            </div>

            <div class="btn_list">
                <a th:href="@{/register}" class="btn white">이전</a>
                <button type="submit" class="btn primary disabled">다음</button>
            </div>
        </form>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="module" th:src="@{/js/modules/sign/sign-form-handler.js}"></script>
</th:block>
</html>
