:root {
    /* font */
    --baseFontSize: 16px;
    --subFontSize: 0.9em;
    --titleFontSize: 26px;
    --smallFontSize: 0.8em;
    --largeFontSize: 1.2em;
    --tinyFontSize: 0.65em;

    /* color palette */
    --primaryColor: #009b90;
    --subColor: #e0f2f1;
    --grayColor: #767676;
    --lightGrayColor: #f1f1f1;
    --blackColor: #2b2b2b;
    --darkGreenColor: #00544e;
    --yellowColor: #ffc43b;
    --redColor: #ff5b45;
    --blueColor: #2783D9;
    --borderColor: #d9d9d9;
    --dimmedColor: rgba(0, 0, 0, 0.3);
    --baseBackGround: rgba(255, 255, 255, 0.5);

    /* element property */
    --logoWidth: 100px;
    --logoHeight: 65px;
    --smallLogoWidth: 80px;
    --smallLogoHeight: 52px;
    --symbolLogoSize: 35px;
    --mainContentWidth: 500px;
    --subContentWidth: 400px;
    --centerContentWidth: 800px;
    --modalWidth: 400px;
    --modalHeight: 450px;
    --modalSmallHeight: 200px;
    --navWidth: 250px;
    --baseIcon: 30px;
    --smallIcon: 14px;
    --largeIcon: 40px;
    --profileThumbnail: 80px;
    --inputHeight: 54px;
    --tabHeight: 40px;
    --modalInfoTitleWidth: 50px;

    --containerPadding: 1.5rem;
    --containerLargePadding: 3.5rem;

    --largePadding: 30px;
    --basePadding: 18px;
    --smallPadding: 0.75em;
    --tinyPadding: 0.3em;
    --inputPadding: 19px 15px 5px;
    --modalPadding: 16px;
    --modalTitlePadding: 10px var(--modalPadding);
    --smallComponentWithIconPadding: 0.4em 0.4em 0.4em 0.7em;

    --baseBorder: 1px solid var(--borderColor);
    --bdrs: 7px;
    --tagBdrs: 2em;
    --bxsh: 2px 2px 10px rgba(0, 0, 0, .05);
    --insetBxsh: inset -1px -1px 1px rgba(0, 0, 0, .25);
    --trst: .2s ease-in-out;

    --baseGap: 1.25rem;
    --smallGap: 10px;
    --tinyGap: 0.3em;
    --largeGap: 46px;

    /* size */
    --smallIconImage: 20px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, button, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: top;
}

button {
    cursor: pointer;
    background-color: inherit;
}

input {
    width: 100%;
    outline: none;
}

select {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/icons/gray_arrow.png') right 15px center no-repeat;
}

/* 브라우저 인풋 자동완성 배경 제거 */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: var(--blackColor) !important; /* 텍스트 색상 복원 */
}

/* 브라우저 인풋 placeholder 선택 막기 */
input::placeholder {
    user-select: none;
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-size: var(--baseFontSize);
    line-height: 1.4;
    color: var(--blackColor);
    background: url("/images/background-img.webp");
    word-break: keep-all;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
}

th, td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    max-height: 80px;
    overflow: hidden;          /* 넘치는 내용 숨김 */
    text-overflow: ellipsis;   /* 말줄임 (...) 처리 */
    white-space: nowrap; /* 한줄로 처리 */
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
    color: #2c3e50;
}
