/* accessibility */
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.logo {
    display: block;
    width: var(--logoWidth);
    height: var(--logoHeight);
    background: url("/images/kukokuk_logo.png") 0 0 no-repeat;
    background-size: contain;

    &.fixed {
        position: fixed;
        top: var(--baseGap);
        left: calc(var(--baseGap) + var(--baseFontSize));
        z-index: 1;
    }
}

.main {
    display: flex;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;

    &.center {
        min-height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: var(--centerContentWidth); /* 디테일 컨텐츠 최대 사이즈 */
        margin: auto;
    }
}

#main-content {
    width: 100%;
    max-width: var(--mainContentWidth); /* 컨텐츠 사이즈 */
    padding: var(--containerPadding);
}

#sub-content {
    width: 100%;
    max-width: var(--subContentWidth);
    padding: var(--containerPadding);
}

.container {
    width: 100%;
    padding: var(--containerPadding);
}

.component {
    width: 100%;
    padding: var(--basePadding);
    border-radius: var(--bdrs);
    border: var(--baseBorder);
}

.copyright {
    font-size: var(--smallFontSize);
    padding: 1em;
}

/* form */
.wrap_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--baseGap);
    background-color: var(--lightGrayColor);
    border-radius: var(--bdrs);
    border: var(--thinBorder);
}

.form_input_list {
    width: 100%;
    display: flex;
    flex-direction: column;

    .input_info {
        height: 60px;
        font-size: var(--subFontSize);
        background-color: #fff;
        padding: var(--inputPadding);
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: var(--borderColor);
        position: relative;
        overflow: hidden;

        &:has(.input_icon) {
            padding-right: 60px;
        }

        &:first-child {
            border-radius: var(--bdrs) var(--bdrs) 0 0;
            border-width: 1px;

            &:has(input:focus)::after {
                border-radius: var(--bdrs) var(--bdrs) 0 0;
            }
        }

        &:last-child {
            border-radius: 0 0 var(--bdrs) var(--bdrs);

            &:has(input:focus)::after {
                border-radius: 0 0 var(--bdrs) var(--bdrs);
            }
        }

        &.one_input {
            border-radius: var(--bdrs);

            &:has(input:focus)::after {
                border-radius: var(--bdrs);
            }
        }

        input {
            height: 22px;
            line-height: 22px;
            font-size: var(--baseFontSize);
            position: relative;
            z-index: 1;
        }

        .input_title,
        .input_error {
            width: 100%;
            padding: 0 15px;
            font-size: var(--baseFontSize);
            line-height: 22px;
            color: var(--grayColor);
            position: absolute;
            top: 18px;
            left: 0;
            z-index: 1;
            transition: top var(--trst), font-size var(--trst);
            user-select: none;
            -webkit-user-select: none; /* Safari/Chrome */
            -moz-user-select: none; /* Firefox */

            &.disabled {
                opacity: 0;
            }
        }

        .input_error {
            color: var(--redColor);
            pointer-events: none;
            z-index: 2;
        }

        .input_icon {
            display: none;
            align-items: center;
            gap: var(--smallGap);
            position: absolute;
            top: 50%;
            right: 15px;
            z-index: 1;
            transform: translateY(-50%);

            .icon {
                width: var(--smallIcon);
                height: var(--smallIcon);
                padding: 0.35em;
                color: var(--darkGreenColor);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &.password {
                    font-size: var(--baseFontSize);
                }
            }
        }

        &:has(input:not(:placeholder-shown)) {
            .input_icon {
                display: flex;
            }
        }

        &:has(input:focus),
        &:has(input:not(:placeholder-shown):not([type="date"])) {
            .input_title,
            .input_error {
                font-size: var(--smallFontSize);
                top: 0.5em;
                transform: none;
                pointer-events: none;
            }
        }

        &:not(.radio_info):has(input:focus)::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 2px solid var(--primaryColor);
            transition: border var(--trst);
        }

        &.radio_info {
            padding: 0;
            display: flex;
            align-items: center;

            .radio_input {
                width: 100%;
                height: 100%;
                border-right: var(--thinBorder);
                transition: background-color var(--trst);

                &:last-child {
                    border-right: none;
                }

                .text {
                    width: 100%;
                    height: 100%;
                    color: var(--grayColor);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                input[type=radio] {
                    position: absolute;
                    width: 0;
                    height: 0;
                    opacity: 0;
                }

                &:has(input:checked) {
                    background-color: var(--subColor);

                    .text {
                        font-weight: bold;
                        color: var(--primaryColor);
                    }
                }
            }
        }
    }
}

.input_description {
    width: 100%;
    font-size: var(--subFontSize);
}

/* button */
.btn_list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--smallGap);

    &.column {
        flex-direction: column; /* 수직 정렬 */
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--smallPadding);
    border-radius: var(--bdrs);
    border: 1px solid var(--subColor);
    background-color: var(--subColor);
    color: var(--primaryColor);
    box-shadow: var(--insetBxsh);
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        opacity: .5;
    }

    &.small {
        width: max-content;
        font-size: var(--smallFontSize);
    }

    &.primary {
        border-color: var(--primaryColor);
        background-color: var(--primaryColor);
        color: #fff;
    }

    &.white {
        border-color: var(--borderColor);
        background-color: #fff;
    }
}

/* display */
.d_none {
    display: none;
}

.d_flex {
    width: 100%;
    display: flex;

    &.column {
        flex-direction: column; /* 세로형 */
    }

    &.justify_content_center {
        justify-content: center; /* 중앙 정렬 */
    }

    &.justify_content_between {
        justify-content: space-between; /* 양끝 정렬 */
    }

    &.align_center {
        align-items: center; /* 수직/수평 정렬 */
    }

    &.align_end {
        align-items: flex-end; /* 끝 정렬 */
    }
}

.base_gap {
    gap: var(--baseGap); /* 기본 gap */
}

.small_gap {
    gap: var(--smallGap); /* 작은 gap */
}

.large_gap {
    gap: var(--largeGap); /* 큰 gap */
}

/* border */
.base_border {
    border: 2px solid var(--borderColor);
    border-radius: var(--bdrs);

    &.primary {
        border-color: var(--primaryColor);
    }

    &.sub {
        border-color: var(--subColor);
    }
}

.border_radius {
    border-radius: var(--bdrs);
}

.border_circle {
    border-radius: 50%;
}

/* 그림자 효과 */
.box_shadow {
    box-shadow: var(--bxsh);
}

/* background */
.bg_primary {
    background-color: var(--primaryColor);
}

.bg_sub {
    background-color: var(--subColor);
}

/* font */
.small_font {
    font-size: var(--smallFontSize);
}

.large_font {
    font-size: var(--largeFontSize);
}

.titlt_font {
    font-size: var(--titleFontSize);
}

.tac {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.color_primary {
    color: var(--primaryColor);
}

.color_sub {
    color: var(--subColor);
}

.color_white {
    color: #fff;
}

