.quiz-container {
    .btn.selected {
        background: #009b90;
        color: #e0f2f1;
        border: 1.5px solid #009b90;
    }
    .hint-btn {
        background: #009b90;
        color: #e0f2f1;
        font-size: 0.9em;
        border-radius: 16px;
        padding: 3px 16px;
        border: none;
        box-shadow: 0 1px 4px rgba(25, 118, 210, 0.08);
        margin-top: 8px;
    }
}

