.main_content_container {
    display: flex;
    flex-direction: column;
    gap: var(--smallGap);
}

.square_container {
    display: flex;
    gap: var(--baseGap);
}

.square_component {
    display: flex;
    flex-direction: column;          /* 세로 방향 배치 */
    justify-content: space-between;  /* 위/아래 끝에 배치 */
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: var(--smallPadding);
    border-radius: var(--bdrs);
    border: var(--baseBorder);
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    cursor: pointer;

    &:hover {
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        transform: scale(1.05); // 살짝 커짐
    }

    .square_text {
        font-size: var(--largeFontSize);
        font-weight: bold;
    }

    .square_emoji {
        font-size: 4rem;
        align-self: flex-end; /* 아래쪽 + 오른쪽 정렬 */
    }
}