.nav_container {
    width: var(--navWidth);
    min-width: var(--navWidth);
    min-height: 100%;
}

.nav_wrap {
    width: var(--navWidth);
    height: 100%;
    padding: var(--baseGap);
    padding-top: calc(var(--logoHeight) + (var(--baseGap) * 2) + var(--baseFontSize));
    padding-bottom: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--baseGap);
    border-right: 1px solid var(--borderColor);
    position: fixed;
    top: 0;
    left: 0;
}

.nav_list {
    display: flex;
    flex-direction: column;
    gap: var(--smallGap);

    .menu {
        font-weight: bold;
        padding: 0.5em;
        display: flex;
        align-items: center;
        gap: var(--smallGap);
        border: 2px solid transparent;
        border-radius: var(--bdrs);
        transition: background-color var(--trst);

        .menu_icon {
            width: var(--baseIcon);
            height: var(--baseIcon);
            font-size: var(--baseIcon);
            display: flex;
            justify-content: center;
            align-items: center;

            &.profile:has(img) {
                border: 1px solid var(--borderColor);
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &:hover {
            background-color: var(--subColor);
        }

        &.active {
            background-color: var(--subColor);
            border-color: var(--primaryColor);
            color: var(--primaryColor);
        }
    }
}