.paging {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--tinyGap);

    .page_link {
        display: inline-block;
        min-width: var(--fixEtcSmallFontSize);
        font-size: var(--fixEtcSmallFontSize);
        line-height: 1;
        text-align: center;
        color: var(--grayColor);
        border-radius: var(--bdrs);
        padding: var(--tinyPadding);
        box-sizing: content-box;
        transition: background-color var(--trst);

        &.current {
            color: var(--blueColor);
            transform: scale(1.12);
        }

        &:hover:not(.current) {
            color: var(--blackColor);
            background-color: var(--lightGrayColor);
        }
    }
}