#quest-container {
    max-height: 150px;       /* 처음에 1.5개 정도 보이게 */
    transition: max-height var(--trst);

    &.open {
        max-height: 1000px;      /* 충분히 큰 값으로 설정 */
    }
}

.quest_list_container {
    overflow-y: auto;

    .component_info {
        background-color: var(--subColor);
        border-radius: var(--bdrs);

        .list_info {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--tinyGap);
        }
    }
}

