.question_container {
    width: 100%;
    max-width: var(--subContentWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--bdrs);
    border: var(--baseBorder);
    overflow: hidden;

    &.blue {
        border-color: var(--blueColor);
    }

    &.yellow {
        border-color: var(--yellowColor);
    }
}

.question_info {
    width: 100%;
    padding: var(--containerPadding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--baseGap);

    .question_title_info {
        color: var(--blueColor);
        border-bottom: 2px solid var(--blueColor);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3px;
        cursor: pointer;

        .speaker_icon {
            font-size: var(--titleFontSize);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            border-color: var(--primaryColor);
            color: var(--primaryColor);

            .question_title {
                color: var(--primaryColor);
            }
        }
    }

    .hint_btns {
        display: flex;
        gap: var(--smallGap);
        cursor: pointer;

        .hint_btn {
            padding: 0.3em;
            cursor: pointer;
            border-color: var(--borderColor);
            box-shadow: var(--insetBxsh);
            border-radius: var(--bdrs);
            border: 1px solid var(--subColor);
            background-color: var(--subColor);
            line-height: 1;
            font-size: var(--smallFontSize);
            transition: border-color var(--trst), color var(--trst), background-color var(--trst);

            &.disabled {
                pointer-events: none;
                opacity: .5;
            }

            &:hover {
                border-color: var(--primaryColor);
                color: var(--primaryColor);
                background-color: #fff;
            }
        }
    }

    .square_info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3px;

        .square {
            font-size: var(--baseFontSize);
            width: 1.7em;
            height: 1.7em;
            padding: 0.3em;
            display: flex;
            justify-content: center;
            align-items: baseline;
            border-radius: var(--bdrs);
            background-color: #fff;
            border: var(--thinBorder);
            line-height: 1;
        }

        .square_blank {
            margin: 0 5px;
        }
    }
}

.answer_info {
    width: 100%;
    padding: var(--containerPadding);
    display: flex;
    flex-direction: column;
    gap: var(--smallGap);

    &:has(input[type='text']) {
        input {
            font-size: var(--largeFontSize);
            padding-bottom: var(--smallGap);
            border-bottom: var(--thinBorder);
        }
    }
}

.answer_btn_list {
    width: 100%;
    max-width: var(--subContentWidth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--baseGap);
}

.question_result_title {
    font-size: 35px;
}

.question_result_content {
    padding: var(--containerPadding);

    .question_result_table {
        border-color: var(--primaryColor);
        color: var(--primaryColor);
        margin: 35px 0px;

        .result_table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1rem;
            border: var(--baseBorder);

            th, td {
                padding: 12px var(--modalPadding);
                text-align: left;
                border-bottom: var(--thinBorder);
                font-size: var(--subFontSize);
            }

            th {
                background-color: var(--subColor);
                font-weight: 600;
                color: var(--primaryColor);
                width: 150px;
            }

            td {
                color: var(--primaryColor);
            }

            tr:last-child td {
                border-bottom: none;
            }
        }
    }
}

.result_btn_list {
    margin: var(--smallGap) 0px;
    max-width: var(--subContentWidth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--baseGap);

    .re_start_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--smallPadding);
        border-radius: var(--bdrs);
        border: 1px solid var(--subColor);
        color: var(--primaryColor);
        box-shadow: var(--insetBxsh);
        cursor: pointer;
        transition: border-color var(--trst), color var(--trst), background-color var(--trst);
    }

    .home_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--smallPadding);
        border-radius: var(--bdrs);
        border: 1px solid var(--subColor);
        box-shadow: var(--insetBxsh);
        cursor: pointer;
        transition: border-color var(--trst), color var(--trst), background-color var(--trst);
    }
}

