
/* 마커 */
.timer_level_bar .quiz_marker {
    position: absolute;
    top: calc(var(--tinyGap) * -1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
}
.timer_level_bar .quiz_marker .line {
    width: var(--smallIcon);
    height: var(--largeIcon);
    background-color: var(--darkGreenColor);
    border-radius: var(--bdrs);
}
.timer_level_bar .quiz_marker .label {
    font-size: var(--baseFontSize);
    margin-top: var(--tinyGap);
    font-weight: bold;
}
