.text-background {
    padding: var(--smallPadding);
    background-color: var(--subColor);
    border-radius: var(--bdrs);
}

.list-info {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.padding {
    margin: 1rem;
}