/* 스무고개 진행 방 */
.system_message {
    display: none;
    padding: var(--smallPadding);
    border-radius: var(--bdrs);
    font-size: var(--subFontSize);
    background-color: var(--lightYellowColor);
    border: var(--baseBorder);
    box-shadow: var(--bxsh);
    position: absolute;
    top: var(--basePadding);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    .system_user_name {
        color: var(--blueColor);
    }

    #timer-display {
        color: var(--redColor);
    }
}

/* 채팅창 */
.chats_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--tinyGap);
    padding: var(--basePadding) 0;
}

.chats_component {
    flex: 1;
    display: flex;
    overflow: hidden;
    min-height: 0;
}

.message_line {
    width: max-content;
    max-width: 75%;
    display: flex;
    gap: var(--tinyGap);
    align-items: flex-start;

    .thumbnail {
        width: var(--baseIcon);
        min-width: var(--baseIcon);
        height: var(--baseIcon);
        border: 1px solid var(--borderColor);
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .chat_info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--tinyGap);

        .sender {
            font-size: var(--fixEtcTinyFontSize);
        }

        .message_bubble {
            width: max-content;
            max-width: 100%;
            padding: var(--tinyPadding);
            border-radius: var(--bdrs);
            box-shadow: var(--bxsh);
            background-color: var(--baseBackground);
            white-space: pre-line;
        }
    }

    &.my_message {
        margin-left: auto;

        .chat_info {
            align-items: flex-end;
        }
    }

    &.other_message {
        margin-right: auto;
    }
}


#board-area {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: var(--tinyGap);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 var(--basePadding);
}

#teacher-controls,
#student-controls,
#raise-button {
    display: none;
}

/* 참여자 리스트 */
.participant_list {
    width: 100%;
    padding: var(--tinyPadding);
    background-color: var(--baseBackground);
    border-radius: var(--bdrs);
    box-shadow: var(--bxsh);
    display: flex;
    flex-direction: column;
    gap: var(--smallGap);
    position: relative;
}