<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kukokuk.mapper.DictEntryMapper">

  <resultMap id="dictEntryMap" type="DictEntry">
    <id property="entryNo" column="ENTRY_NO"/>
    <result property="word" column="WORD"/>
    <result property="definition" column="DEFINITION"/>
    <result property="wordLevel" column="WORD_LEVEL"/>
    <result property="usageExample" column="USAGE_EXAMPLE"/>
    <result property="origin" column="ORIGIN"/>
  </resultMap>
<!--
    /**
    * 특정 ENTRY_NO에 해당하는 사전 데이터를 조회한다.
    *
    * @param entryNo 단어(표제어)의 고유 번호
    * @return 해당 단어의 사전 정보
    */
    DictEntry getEntryByNo(int entryNo);-->
  <select id="getEntryByNo"  resultMap="dictEntryMap">
    SELECT
        ENTRY_NO
         , WORD
         , DEFINITION
         , WORD_LEVEL
         , USAGE_EXAMPLE
         , ORIGIN
         , CREATED_DATE
    FROM KUKOKUK_DICT_ENTRIES
    WHERE ENTRY_NO = #{entryNo}
  </select>

   <!-- List<DictEntry> getRandomEntriesExclude(@Param("excludeEntryNo") int excludeEntryNo,
    @Param("limit") int limit);

    /**
    * 전체 사전에서 무작위로 단어 하나를 조회한다.
    *
    * @return 무작위로 선택된 단어 정보
    */-->
  <select id="getRandomEntriesExclude" resultMap="dictEntryMap">
      SELECT ENTRY_NO
           , WORD
           , DEFINITION
           , WORD_LEVEL
           , USAGE_EXAMPLE
           , ORIGIN
           , CREATED_DATE
      FROM KUKOKUK_DICT_ENTRIES
      WHERE ENTRY_NO != #{excludeEntryNo}
      ORDER BY RAND()
      LIMIT #{limit}
  </select>
<!--
    /**
    * 전체 사전에서 무작위로 단어 하나를 조회한다.
    *
    * @return 무작위로 선택된 단어 정보
    */
    DictEntry getRandomOne();-->
  <select id="getRandomOne" resultMap="dictEntryMap">
    SELECT
        ENTRY_NO
        , WORD
        , DEFINITION
        , WORD_LEVEL
        , USAGE_EXAMPLE
        , ORIGIN
        , CREATED_DATE
    FROM KUKOKUK_DICT_ENTRIES
    ORDER BY RAND()
    LIMIT 1
  </select>

</mapper>
