<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kukokuk.mapper.DictationQuestionMapper">

  <resultMap id="dictationQuestionResultMap" type="DictationQuestion">
    <id property="dictationQuestionNo" column="DICTATION_QUESTION_NO"/>
    <result property="dictationSessionNo" column="DICTATION_SESSION_NO"/>
    <result property="correctAnswer" column="CORRECT_ANSWER"/>
    <result property="hint1" column="HINT1"/>
    <result property="hint2" column="HINT2"/>
    <result property="hint3" column="HINT3"/>
  </resultMap>

  <!-- List<DictationQuestion> getQuestionsBySessionNo(int dictationSessionNo) -->
  <select id="getQuestionsBySessionNo" resultMap="dictationQuestionResultMap">
    SELECT
      DICTATION_QUESTION_NO
      ,DICTATION_SESSION_NO
      ,CORRECT_ANSWER
      ,HINT1
      ,HINT2
      ,HINT3
    FROM
       KUKOKUK_DICTATION_QUESTIONS
    WHERE
       DICTATION_SESSION_NO = #{dictationSessionNo}
    ORDER BY
       DICTATION_QUESTION_NO
  </select>

  <!--  List<DictationQuestion> getRandomQuestions(); -->
  <select id="getRandomQuestions" resultMap="dictationQuestionResultMap">
    SELECT
       DICTATION_QUESTION_NO
      ,DICTATION_SESSION_NO
      ,CORRECT_ANSWER
      ,HINT1
      ,HINT2
      ,HINT3
    FROM
      KUKOKUK_DICTATION_QUESTIONS
    ORDER BY RAND()
      LIMIT 10
  </select>

  <!-- updateDictationQuestion(DictationQuestion dictationQuestion) -->
  <update id="updateDictationQuestion" parameterType="DictationQuestion">
    UPDATE
       KUKOKUK_DICTATION_QUESTIONS
    SET
       CORRECT_ANSWER = #{correctAnswer}
      ,HINT1 = #{hint1}
      ,HINT2 = #{hint2}
      ,HINT3 = #{hint3}
    WHERE
      DICTATION_QUESTION_NO = #{dictationQuestionNo}
  </update>

  <!-- deleteDictationQuestion(int dictationQuestionNo) -->
  <delete id="deleteDictationQuestion" parameterType="int">
    DELETE
    FROM
        KUKOKUK_DICTATION_QUESTIONS
    WHERE
        DICTATION_QUESTION_NO = #{dictationQuestionNo}
  </delete>

  <select id="countCorrectAnswers" resultType="int">
    SELECT
        COUNT(*)
    FROM
        KUKOKUK_DICTATION_QUESTION_LOGS
    WHERE
        DICTATION_SESSION_NO = #{dictationSessionNo}
      AND
        IS_SUCCESS = 'Y'
  </select>

  <select id="countHintsUsed" resultType="int">
    SELECT
        COUNT(*)
    FROM
        KUKOKUK_DICTATION_QUESTION_LOGS
    WHERE
        DICTATION_SESSION_NO = #{dictationSessionNo}
      AND
        USED_HINT = 'Y'
  </select>

</mapper>