<!DOCTYPE html>
<html>
<div th:fragment="step-fragment(step, index)" class="step_bar">
    <div class="step_circle_container">
        <div th:each="i : ${#numbers.sequence(1, step)}"
             class="step_circle"
             th:classappend="${index > (i - 1)} ? 'active'">
        </div>
    </div>

    <div class="current_step"
         th:with="percent=${step > 1 ? ((index - 1) * 100.0 / (step - 1)) : 0},
                  formattedPercent=${#numbers.formatDecimal(percent, 0, 3)}"
         th:style="'width:' + ${formattedPercent} + '%'">
    </div>
</div>
</html>