<!DOCTYPE html>
<html>
<!--/* id를 동적으로 반영(예: speed-ranks-component) */-->
<th:block th:fragment="rank-component-fragment(ranksDto, useTitle)">
    <div th:if="${useTitle}" class="component_title">
        <div class="title_info align_center">
            <iconify-icon th:if="${ranksDto.contentType == 'SPEED'}" icon="flat-color-icons:flash-on"></iconify-icon>
            <iconify-icon th:if="${ranksDto.contentType == 'LEVEL'}" icon="token-branded:step"></iconify-icon>
            <iconify-icon th:if="${ranksDto.contentType == 'DICTATION'}" icon="flat-color-icons:voice-presentation"></iconify-icon>
            <span th:text="${ranksDto.contentTypeName}">컨텐츠 이름</span>
        </div>
    </div>

    <div class="tiny_list_component rank_list_component">
        <!--/* 랭크가 비어 있을 경우 */-->
        <div th:if="${ranksDto.ranks.isEmpty()}"
             class="component_info tiny">
            <div class="list_info tac">
                조회된 순위가 없습니다.
            </div>
        </div>

        <!--/* 랭크가 비어 있지 않을 경우 */-->
        <div th:if="${!ranksDto.ranks.isEmpty()}"
             th:each="rank : ${ranksDto.ranks}"
             class="component_info tiny"
             th:with="isMyRank=${rank.userNo == ranksDto.userNo}"
             th:classappend="${isMyRank ? 'selected' : ''}">
            <!--/* 랭크 정보의 사용자와 요청 사용자가 같은 경우 본인 랭크 정보 */-->
            <div class="index_list w_100" style="--cols: 12; --indexCols: 1;">
                <div class="rank"
                     th:classappend="${rank.userRank < 4 ? 'medal' : ''}">
                    <!--/* 순위권 1~3 */-->
                    <th:block th:if="${rank.userRank < 4}">
                        <iconify-icon
                            th:icon="'fluent-emoji-flat:' +
                                             (${rank.userRank == 1} ? '1st' :
                                             (${rank.userRank == 2} ? '2nd' : '3rd')) +
                                             '-place-medal'">
                        </iconify-icon>
                    </th:block>

                    <!--/* 순위권 4~5 */-->
                    <th:block th:if="${rank.userRank > 3 && rank.userRank < 6}">
                        <iconify-icon class="color_gray" th:icon="|ri:number-${rank.userRank}|"></iconify-icon>
                    </th:block>

                    <!--/* 사용자 순위가 순위권 밖인 경우 */-->
                    <th:block th:if="${isMyRank && rank.userRank > 5}">
                        <span class="small_font color_gray" th:text="|${rank.userRank}위|"></span>
                    </th:block>
                </div>
                <div class="d_flex align_center tiny_gap">
                    <div class="rank_profile icon base">
                        <img th:src="${rank.profileFileUrl}" alt="프로필 이미지">
                    </div>
                    <p class="rank_level small_font bold" th:text="|Lv.${rank.level}|">레벨</p>
                    <p class="rank_nickname small_font bold text_ellipsis" th:text="${rank.nickname}">닉네임</p>
                    <p class="rank_score bold color_primary" th:text="${rank.formattedScore}">랭크점수</p>
                </div>
            </div>
        </div>

        <!--/* 랭크 목록에 사용자의 순위가 없을 경우 */-->
        <div th:if="${(title == null || title != '나의 반 관리') && (!ranksDto.ranks.isEmpty() && !ranksDto.hasUserRank)}"
             class="component_info tiny selected">
            <div class="list_info tac sub_font color_gray">
                아직 내 순위가 없습니다.
            </div>
        </div>
    </div>
</th:block>
</html>